@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Oswald);
/* padding */
.pt_s {
  padding-top: 2%; }
  @media screen and (min-width: 768px) {
    .pt_s {
      padding-top: 10px; } }

.pt {
  padding-top: 4%; }
  @media screen and (min-width: 768px) {
    .pt {
      padding-top: 30px; } }

.pt_l {
  padding-top: 6%; }
  @media screen and (min-width: 768px) {
    .pt_l {
      padding-top: 50px; } }

.pb_s {
  padding-bottom: 2%; }
  @media screen and (min-width: 768px) {
    .pb_s {
      padding-bottom: 10px; } }

.pb {
  padding-bottom: 4%; }
  @media screen and (min-width: 768px) {
    .pb {
      padding-bottom: 30px; } }

.pb_l {
  padding-bottom: 6%; }
  @media screen and (min-width: 768px) {
    .pb_l {
      padding-bottom: 50px; } }

/* margin */
.mt_s {
  margin-top: 2%; }
  @media screen and (min-width: 768px) {
    .mt_s {
      margin-top: 10px; } }

.mt {
  margin-top: 4%; }
  @media screen and (min-width: 768px) {
    .mt {
      margin-top: 30px; } }

.mt_l {
  margin-top: 6%; }
  @media screen and (min-width: 768px) {
    .mt_l {
      margin-top: 50px; } }

.mb_s {
  margin-bottom: 2%; }
  @media screen and (min-width: 768px) {
    .mb_s {
      margin-bottom: 10px; } }

.mb, .headline1, .headline2 {
  margin-bottom: 4%; }
  @media screen and (min-width: 768px) {
    .mb, .headline1, .headline2 {
      margin-bottom: 30px; } }

.mb_l {
  margin-bottom: 6%; }
  @media screen and (min-width: 768px) {
    .mb_l {
      margin-bottom: 50px; } }

/* font-size */
.fsize_xl {
  font-size: 18px;
  font-size: 1.8rem; }
  @media screen and (min-width: 768px) {
    .fsize_xl {
      font-size: 24px;
      font-size: 2.4rem; } }

.fsize_l, .headline3 {
  font-size: 16px;
  font-size: 1.6rem; }
  @media screen and (min-width: 768px) {
    .fsize_l, .headline3 {
      font-size: 20px;
      font-size: 2rem; } }

.fsize, .linkbtn6 a {
  font-size: 14px;
  font-size: 1.4rem; }
  @media screen and (min-width: 768px) {
    .fsize, .linkbtn6 a {
      font-size: 16px;
      font-size: 1.6rem; } }

.fsize_s, .linkbtn1 a, .linkbtn2 a {
  font-size: 12px;
  font-size: 1.2rem; }
  @media screen and (min-width: 768px) {
    .fsize_s, .linkbtn1 a, .linkbtn2 a {
      font-size: 14px;
      font-size: 1.4rem; } }

.fsize_xs, .headline1 span.small, .sml {
  font-size: 10px;
  font-size: 1rem; }
  @media screen and (min-width: 768px) {
    .fsize_xs, .headline1 span.small, .sml {
      font-size: 12px;
      font-size: 1.2rem; } }

/* テキスト用BOX pタグの下に改行が入る。 */
div.textbox p {
  margin-bottom: 1em; }
  div.textbox p:last-child {
    margin-bottom: 0; }

/********************************************************************************
　--common
*********************************************************************************/
/* --headline
************************************/
.headline1 {
  font-size: 18px;
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 3px;
  color: #333333; }
  @media screen and (min-width: 768px) {
    .headline1 {
      font-size: 26px;
      font-size: 2.6rem; } }

.headline1 span.small {
  display: block;
  margin-top: 5px; }

.headline2 {
  font-size: 18px;
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 3px;
  color: #333333; }
  @media screen and (min-width: 768px) {
    .headline2 {
      font-size: 26px;
      font-size: 2.6rem; } }

.headline2 span.line {
  display: block;
  width: 65px;
  height: 3px;
  background: #99aa59;
  margin: 15px auto 40px; }
  @media (max-width: 767px) {
    .headline2 span.line {
      margin: 2% auto 4%;
      width: 30px; } }

.headline3 {
  margin-bottom: 2%;
  border-left: 3px solid #ffa243;
  padding-left: 10px;
  line-height: 1.4; }
  @media screen and (min-width: 768px) {
    .headline3 {
      margin-bottom: 15px; } }
  @media screen and (min-width: 1040px) {
    .headline3 {
      margin-bottom: 15px; } }

.headline4 {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #d80000;
  text-align: left;
  position: relative;
  padding-left: 30px;
  top: -2px;
  margin-bottom: 5px; }
  @media screen and (min-width: 768px) {
    .headline4 {
      font-size: 20px;
      font-size: 2rem; } }
  @media (max-width: 767px) {
    .headline4 {
      padding-left: 25px; } }

.headline4:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 8px;
  background: #fcd6d4; }
  @media (max-width: 767px) {
    .headline4:before {
      width: 17px;
      height: 17px;
      top: 7px !important; } }

.headline5 {
  font-size: 15px;
  font-size: 1.5rem;
  padding-left: 10px;
  line-height: 1.2;
  border-left: 3px solid #5C8406;
  margin-bottom: 2%; }
  @media screen and (min-width: 768px) {
    .headline5 {
      font-size: 18px;
      font-size: 1.8rem; } }
  @media screen and (min-width: 768px) {
    .headline5 {
      margin-bottom: 20px; } }

/* --btn
************************************/
.linkbtn1 a {
  border: 1px solid #ffa243;
  display: inline-block;
  color: #fff !important;
  background: #ffa243;
  padding: 3px 4%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative; }
  @media screen and (min-width: 768px) {
    .linkbtn1 a {
      padding: 6px 48px 6px 40px; } }
  .linkbtn1 a:hover {
    background: #fff;
    color: #ffa243 !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  @media (max-width: 767px) {
    .linkbtn1 a {
      padding: 10px 4%;
      width: 100%;
      text-align: center; } }

.linkbtn1 a:after {
  position: absolute;
  top: 52%;
  right: 12px;
  display: block;
  content: "";
  width: 5px;
  height: 5px;
  margin-top: -3px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.linkbtn2 {
  text-align: center;
  margin: 40px 0; }

.linkbtn2 a {
  display: inline-block;
  color: #fff !important;
  padding: 6px 4%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  border: 1px solid #af8a3b;
  background: #af8a3b;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  border-radius: 7px; }
  @media screen and (min-width: 768px) {
    .linkbtn2 a {
      padding: 10px 48px 10px 40px; } }
  .linkbtn2 a:hover {
    background: #fff;
    color: #af8a3b !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  @media (max-width: 767px) {
    .linkbtn2 a {
      padding: 10px 4%;
      width: 100%; } }

.linkbtn2 a:after {
  position: absolute;
  top: 53%;
  right: 12px;
  display: block;
  content: "";
  width: 5px;
  height: 5px;
  margin-top: -3px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.linkbtn3 a {
  background: #777474;
  position: relative;
  border: 1px solid #777474;
  display: inline-block;
  color: #fff !important;
  padding: 10px 14% 10px 10%;
  font-size: 13px;
  font-size: 1.3rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; }
  @media screen and (min-width: 768px) {
    .linkbtn3 a {
      padding: 10px 70px 10px 70px; } }
  @media screen and (min-width: 768px) {
    .linkbtn3 a {
      font-size: 20px;
      font-size: 2rem; } }
  @media (max-width: 767px) {
    .linkbtn3 a {
      width: 100%;
      text-align: center; } }
  .linkbtn3 a:hover {
    background: #949292 !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .linkbtn3 a:after {
    position: absolute;
    content: url(../images/download_icon.png);
    top: 12px;
    right: 10px; }
    @media (max-width: 767px) {
      .linkbtn3 a:after {
        top: 10px;
        right: 5px; } }

.linkbtn4 a {
  background: #2687a8;
  position: relative;
  border: 1px solid #2687a8;
  display: inline-block;
  color: #fff !important;
  padding: 10px 14% 10px 10%;
  font-size: 15px;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; }
  @media screen and (min-width: 768px) {
    .linkbtn4 a {
      padding: 10px 70px 10px 70px; } }
  @media screen and (min-width: 768px) {
    .linkbtn4 a {
      font-size: 22px;
      font-size: 2.2rem; } }
  .linkbtn4 a:hover {
    background: #20738f !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .linkbtn4 a:after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    right: 14px;
    top: 34%;
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .linkbtn4 a:before {
    content: "";
    position: absolute;
    right: 22px;
    top: 46%;
    width: 5px;
    height: 5px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  @media (max-width: 767px) {
    .linkbtn4 a {
      width: 100%;
      text-align: center; } }

.linkbtn6 a {
  background: #fff;
  position: relative;
  border: 1px solid #2687a8;
  display: inline-block;
  color: #2687a8 !important;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 7px 10%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  @media screen and (min-width: 768px) {
    .linkbtn6 a {
      padding: 7px 50px; } }
  .linkbtn6 a:hover {
    background: #2687a8;
    color: #fff !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .linkbtn6 a:after {
    content: '';
    position: absolute;
    right: 15px;
    top: 19px;
    width: 6px;
    height: 6px;
    border-top: 1px solid #2687a8;
    border-right: 1px solid #2687a8;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  @media (max-width: 767px) {
    .linkbtn6 a {
      width: 100%;
      text-align: center; } }

/* 　　--table
************************************/
table.style2 {
  width: 100%; }

table.style2 th {
  width: 100%;
  text-align: left;
  background: #f2f1f0;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 1% 2%;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc; }
  @media screen and (min-width: 768px) {
    table.style2 th {
      width: 25%; } }
  @media screen and (min-width: 768px) {
    table.style2 th {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 768px) {
    table.style2 th {
      padding: 17px 30px 15px; } }
  @media (max-width: 767px) {
    table.style2 th {
      display: block;
      border-bottom: none; } }

table.style2 td {
  text-align: left;
  background: #fff;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 1% 2%; }
  @media screen and (min-width: 768px) {
    table.style2 td {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 768px) {
    table.style2 td {
      padding: 17px 30px 15px; } }
  @media (max-width: 767px) {
    table.style2 td {
      display: block;
      border-bottom: none;
      width: 100%; } }

table.style01 {
  width: 100%;
  font-size: 13px;
  font-size: 1.3rem; }
  @media screen and (min-width: 768px) {
    table.style01 {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media (max-width: 767px) {
    table.style01 {
      display: block;
      border-bottom: 1px solid #cbcbcb; } }

@media (max-width: 767px) {
  table.style01 tbody,
  table.style01 tr {
    display: block;
    width: 100%; } }

table.style01 th {
  text-align: left;
  border-bottom: 1px solid #cccccc;
  width: 100%;
  font-weight: bold;
  padding: 2% 4% 0%; }
  @media screen and (min-width: 768px) {
    table.style01 th {
      padding: 19px 30px 17px; } }
  @media (max-width: 767px) {
    table.style01 th {
      display: block;
      border-bottom: none; } }
  @media print, screen and (min-width: 768px) {
    table.style01 th {
      width: 240px;
      border-bottom: 1px solid #cbcbcb; } }

table.style01 td {
  text-align: center;
  background: #fff;
  text-align: left;
  border-bottom: 1px solid #cccccc;
  padding: 0% 4% 2%; }
  @media screen and (min-width: 768px) {
    table.style01 td {
      padding: 19px 30px 17px; } }
  @media (max-width: 767px) {
    table.style01 td {
      display: block;
      width: 100%; } }

@media (max-width: 767px) {
  table.style01 tr:last-of-type td {
    border-bottom: none; } }

table.style01 {
  width: 100%; }
  @media (max-width: 767px) {
    table.style01 {
      display: block;
      border-bottom: 1px solid #cbcbcb; } }

table.style02 {
  width: 100%; }

table.style02 th {
  text-align: center;
  background: #e6e6e6;
  font-weight: bold;
  font-size: 11px;
  font-size: 1.1rem;
  padding: 2%;
  border-top: 1px solid #cbcbcb;
  border-right: 1px solid #cbcbcb;
  border-left: 1px solid #999999; }
  @media screen and (min-width: 768px) {
    table.style02 th {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 1040px) {
    table.style02 th {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 768px) {
    table.style02 th {
      padding: 17px 30px 15px; } }

table.style02 tr th:last-of-type {
  border-right: 1px solid #999999; }

table.style02 tr:first-of-type th {
  border-top: 1px solid #999999; }

table.style02 tr:last-of-type th {
  border-bottom: 1px solid #999999; }

table.style02 th em {
  background: #e1091a;
  padding: 2px 6px;
  border-radius: 6px;
  color: #fff;
  margin-left: 15px;
  font-size: 12px;
  font-size: 1.2rem; }

table.style02 td {
  text-align: center;
  background: #fff;
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  font-size: 11px;
  font-size: 1.1rem;
  padding: 2%;
  border-bottom: 1px solid #999999; }
  @media screen and (min-width: 768px) {
    table.style02 td {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 1040px) {
    table.style02 td {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 768px) {
    table.style02 td {
      padding: 17px 30px 15px; } }

table.style02 th.bgcolor1 {
  background: #7d8cba;
  color: #fff; }

table.style02 th.bgcolor2 {
  background: #a8aa5f;
  color: #fff; }

table.style02 th.bgcolor3 {
  background: #5fa3b2;
  color: #fff; }

table.style03 {
  width: 100%;
  font-size: 14px;
  font-size: 1.4rem; }
  @media screen and (min-width: 768px) {
    table.style03 {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media (max-width: 767px) {
    table.style03 {
      display: block;
      border-bottom: none; } }

@media (max-width: 767px) {
  table.style03 tbody,
  table.style03 tr {
    display: block;
    width: 100%; } }

table.style03 th {
  text-align: center;
  width: 100%;
  background: #5da8ba;
  color: #fff;
  font-weight: bold;
  padding: 2% 4% 2%;
  border-top: 1px solid #cbcbcb;
  border-right: 1px solid #cbcbcb;
  border-left: 1px solid #999999; }
  @media screen and (min-width: 768px) {
    table.style03 th {
      padding: 17px 30px 15px; } }
  @media (max-width: 767px) {
    table.style03 th {
      display: block;
      border: 1px solid #999999;
      text-align: left;
      margin-top: 4%; } }
  @media print, screen and (min-width: 768px) {
    table.style03 th {
      width: 240px;
      border-bottom: 1px solid #cbcbcb; } }

table.style03 tr th:last-of-type {
  border-right: 1px solid #999999; }

table.style03 tr:first-of-type th {
  border-top: 1px solid #999999; }
  @media (max-width: 767px) {
    table.style03 tr:first-of-type th {
      margin-top: 0; } }

table.style03 tr:last-of-type th {
  border-bottom: 1px solid #999999; }

table.style03 th em {
  background: #e1091a;
  padding: 2px 6px;
  border-radius: 6px;
  color: #fff;
  margin-left: 15px;
  font-size: 12px;
  font-size: 1.2rem; }

table.style03 td {
  text-align: center;
  background: #fff;
  text-align: left;
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  padding: 2% 4% 2% 2%; }
  @media screen and (min-width: 768px) {
    table.style03 td {
      padding: 17px 30px 15px; } }
  @media (max-width: 767px) {
    table.style03 td {
      display: block;
      border-top: none;
      border-left: none;
      border-right: none;
      background-color: transparent;
      padding-left: 1em;
      text-indent: -1em; }
      table.style03 td:before {
        content: "・"; } }
  @media print, screen and (min-width: 768px) {
    table.style03 td {
      border-bottom: 1px solid #999999; } }

table.style04 {
  width: 100%; }

table.style04 th {
  text-align: center;
  background: #5da8ba;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  font-size: 1.1rem;
  padding: 2%;
  border-top: 1px solid #cbcbcb;
  border-right: 1px solid #cbcbcb;
  border-left: 1px solid #999999; }
  @media screen and (min-width: 768px) {
    table.style04 th {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 1040px) {
    table.style04 th {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 768px) {
    table.style04 th {
      padding: 17px 30px 15px; } }

table.style04 tr th:last-of-type {
  border-right: 1px solid #999999; }

table.style04 tr:first-of-type th {
  border-top: 1px solid #999999; }

table.style04 tr:last-of-type th {
  border-bottom: 1px solid #999999; }
  @media (max-width: 767px) {
    table.style04 tr:last-of-type th {
      border-bottom: none; } }

table.style04 tr:last-of-type {
  border-bottom: 1px solid #999999; }

table.style04 th em {
  background: #e1091a;
  padding: 2px 6px;
  border-radius: 6px;
  color: #fff;
  margin-left: 15px;
  font-size: 12px;
  font-size: 1.2rem; }

table.style04 td {
  text-align: center;
  background: #fff;
  text-align: left;
  border-top: 1px solid #999999;
  font-size: 11px;
  font-size: 1.1rem;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  padding: 2%; }
  @media screen and (min-width: 768px) {
    table.style04 td {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 1040px) {
    table.style04 td {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 768px) {
    table.style04 td {
      padding: 17px 30px 15px; } }

table.style04 {
  width: 100%;
  font-size: 14px;
  font-size: 1.4rem; }
  @media screen and (min-width: 768px) {
    table.style04 {
      font-size: 16px;
      font-size: 1.6rem; } }

table.style04 td.underline {
  border-bottom: 1px solid #999999; }

/* --form
************************************/
form input[type="radio"] {
  margin-right: 5px;
  position: relative;
  display: inline-block;
  top: 1px; }

form input[type="text"],
input[type="mail"],
select {
  padding: 7px 10px;
  font-size: 15px;
  font-size: 1.5rem;
  margin: 4px 0;
  width: 100%;
  border: 1px solid #a7a7a7; }
  @media screen and (min-width: 768px) {
    form input[type="text"],
    input[type="mail"],
    select {
      padding: 7px 10px; } }
  @media screen and (min-width: 768px) {
    form input[type="text"],
    input[type="mail"],
    select {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media print, screen and (min-width: 768px) {
    form input[type="text"],
    input[type="mail"],
    select {
      width: auto; } }

form textarea {
  border: 1px solid #a7a7a7;
  padding: 7px 10px;
  font-size: 15px;
  font-size: 1.5rem;
  margin: 4px 0;
  width: 100%; }
  @media screen and (min-width: 768px) {
    form textarea {
      padding: 7px 10px; } }
  @media screen and (min-width: 768px) {
    form textarea {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media print, screen and (min-width: 768px) {
    form textarea {
      width: auto; } }

@media print, screen and (min-width: 768px) {
  form .w50 {
    width: 300px !important; } }

form span.small {
  font-size: 12px;
  font-size: 1.2rem; }

form .mt {
  margin-top: 10px; }

form .wide {
  width: 100%; }

form label {
  margin-right: 20px; }

form .submit_btn {
  text-align: center;
  margin-top: 40px; }

form .submit_btn input {
  cursor: pointer;
  background: #c30000;
  color: #fff;
  padding: 15px 60px;
  display: inline-block;
  border: none; }

.mw_wp_form_confirm span {
  display: none; }

form .error {
  color: #f00;
  font-size: 13px;
  font-size: 1.3rem;
  padding-left: 10px; }

form .block label {
  display: block;
  margin-bottom: 5px;
  cursor: pointer; }

/* --bg_color
************************************/
.bg_white {
  background: #fff; }

.bg_gray {
  background: #f2f2f2; }

.bg_gray1 {
  background: #ede8e8; }

.bg_darkgray {
  background: #d8d8d8; }

.bg_green {
  background: #ffffcb; }

.bg_img1 {
  background: url(../images/bg_img1.jpg) repeat;
  background-attachment: fixed; }

/* --link_color
************************************/
.link_red {
  color: #c73c25 !important; }

.link_red:hover {
  text-decoration: underline; }

.link_blue {
  color: #ffa243 !important; }

.link_blue:hover {
  text-decoration: underline; }

/* --font_color
************************************/
.font_red {
  color: #c73c25 !important; }

.font_blue {
  color: #ffa243 !important; }

/* --img_center
************************************/
.img_center {
  display: block;
  text-align: center;
  margin: 0 auto; }

/* --sml
************************************/
/* --new
************************************/
.new:after {
  content: "new";
  margin-left: 5px;
  color: #fff;
  background: #c73c25;
  padding: 1px 3px;
  font-size: 12px; }

/* 　　--photo_title
************************************/
/* 写真(下部)の上に説明文を重ねる */
.photo_title a {
  text-align: center;
  text-decoration: none; }

.photo_title p {
  margin-top: 5px;
  font-size: 13px;
  font-size: 1.3rem; }
  @media screen and (min-width: 768px) {
    .photo_title p {
      margin-top: 10px; } }
  @media screen and (min-width: 768px) {
    .photo_title p {
      font-size: 14px;
      font-size: 1.4rem; } }

.photo_title figure {
  position: relative;
  overflow: hidden; }

.photo_title figcaption {
  position: absolute;
  bottom: 36%;
  right: 0;
  z-index: 9999;
  width: 62%;
  background: #fff;
  -webkit-transition: .3s;
  opacity: 1;
  color: #000;
  font-size: 13px;
  font-size: 1.3rem;
  padding: 3px 10px 4px 4%; }
  @media screen and (min-width: 768px) {
    .photo_title figcaption {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 1040px) {
    .photo_title figcaption {
      font-size: 18px;
      font-size: 1.8rem; } }
  @media screen and (min-width: 768px) {
    .photo_title figcaption {
      padding: 3px 10px 4px; } }
  @media (max-width: 767px) {
    .photo_title figcaption {
      bottom: 28%;
      width: 65%;
      text-align: left; } }

.photo_title figcaption span {
  background: linear-gradient(transparent 70%, #fff385 0%); }

.photo_title a:hover figcaption {
  background: #ffa243;
  color: #fff; }

.photo_title a:hover figcaption span {
  background: none; }

.photo_title figure {
  border: 2px solid transparent; }

.photo_title figcaption .center {
  text-align: center; }

.photo_title figcaption .left {
  text-align: left; }

.photo_title img {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: 100%;
  height: auto; }

.photo_title a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.8; }

.photo_title a:hover figure {
  border: 2px solid #ffa243; }

.photo_title a:hover .photo {
  opacity: 0.8; }

.photo_title figcaption.white {
  background: #fff;
  color: #4d4d4d; }

.photo_title figcaption.arrow:after {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  content: url(../images/right_arrow.png);
  position: absolute;
  right: 10px;
  top: 2px; }

.photo_title a:hover figcaption.arrow:after {
  right: 7px; }

.photo_title.left_line {
  border-left: 2px solid #c40500; }

@media screen and (max-width: 650px) {
  .photo_title a:hover figcaption {
    background: #fff;
    color: #000; }

  .photo_title a:hover img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }
/* 　　--image-hover
************************************/
.image-hover {
  position: relative;
  overflow: hidden;
  height: auto;
  margin-left: auto;
  margin-right: auto; }

.image-hover a img {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  height: auto; }

.image-hover a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.8; }

.image-hover a {
  position: relative;
  display: block; }

.image-hover a:after {
  display: inline-block;
  content: '';
  position: absolute;
  right: 0;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.4) url(../images/icon_large.svg) no-repeat center center;
  background-size: 26px auto;
  width: 34px;
  height: 34px; }

@media (max-width: 767px) {
  .lb-data .lb-caption {
    font-size: 18px !important;
    font-size: 1.8rem !important; } }

@media print, screen and (min-width: 768px) {
  figure.hover-snip {
    display: none;
    position: relative;
    overflow: hidden;
    width: 100%;
    background: #000000;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); } }
  @media screen and (min-width: 768px) and (min-width: 768px) {
    figure.hover-snip {
      display: block; } }
  @media screen and (min-width: 768px) and (min-width: 1040px) {
    figure.hover-snip {
      display: block; } }

@media print, screen and (min-width: 768px) {
  figure.hover-snip * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out; }

  figure.hover-snip img {
    max-width: 100%;
    position: relative;
    opacity: 0.8; }

  figure.hover-snip figcaption {
    position: absolute;
    width: 200px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    padding: 25px 0;
    margin: 0 auto;
    border-width: 0px 3px;
    border-top: 3px solid #fff;
    background: rgba(94, 83, 71, 0.4); }

  figure.hover-snip h2 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: -1px;
    font-size: 21px; }

  figure.hover-snip h2 span {
    font-weight: 800; }

  figure.hover-snip .icon,
  figure.hover-snip .caption {
    overflow: hidden;
    width: 100%;
    position: absolute; }

  figure.hover-snip .icon {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 0; }

  figure.hover-snip .caption {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    bottom: 0; }

  figure.hover-snip p,
  figure.hover-snip .icon span {
    display: table;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    text-align: center;
    width: auto;
    color: rgba(255, 255, 255, 0);
    font-size: 0.8em; }

  figure.hover-snip p:before,
  figure.hover-snip .icon span:before,
  figure.hover-snip p:after,
  figure.hover-snip .icon span:after {
    position: absolute;
    height: 3px;
    content: '';
    background: white;
    -webkit-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out; }

  figure.hover-snip .icon span:before,
  figure.hover-snip .icon span:after {
    width: 1000%;
    top: 50%; }

  figure.hover-snip .icon span:before {
    left: -1000%; }

  figure.hover-snip .icon span:after {
    right: -1000%; }

  figure.hover-snip i {
    color: white;
    font-size: 30px; }

  figure.hover-snip p:before,
  figure.hover-snip p:after {
    width: 150%;
    bottom: 50%; }

  figure.hover-snip p:before {
    left: -100%; }

  figure.hover-snip p:after {
    right: -100%; }

  figure.hover-snip a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1; }

  figure.hover-snip:hover img,
  figure.hover-snip.hover img {
    opacity: 0.15;
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

  figure.hover-snip:hover p,
  figure.hover-snip.hover p {
    opacity: 1;
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
    color: #ffffff; }

  figure.hover-snip:hover p:before,
  figure.hover-snip.hover p:before {
    left: -150%; }

  figure.hover-snip:hover p:after,
  figure.hover-snip.hover p:after {
    right: -150%; } }

/*# sourceMappingURL=common.css.map */
