@charset "utf-8";

@import "base/_config";
@import "base/_mixin";
@import "base/_extend";

@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　共通箇所 (基本タグ設定)
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

html,
body {
    width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    background: $bg_body;
    text-align: center;
    line-height: 1.75;
    @include size(13, 15);
    color: $color_text;
    font-family: $font_family;
    -webkit-text-size-adjust: 100%;
}

.wrapper {
    width: 100%;
    margin: 0px auto;
    text-align: left;
    padding: 0 4%;

    @include pc() {
        width: $width_wrapper;
        padding: 0;
    }
}



/* link */

a {
    color: $color_link;
    text-decoration: none;
    outline: none;
}

a:link {
    color: $color_link;
}

a:visited {
    color: $color_link;
}

a:hover {
    color: $color_link;
}



#outer {
    overflow: hidden;
    width: 100%;
}


#loading_wrap {
    background: #fff;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--header
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

header {
    position: relative;
    z-index: 999;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pcmenu
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
header .pcmenu {
    @include display(none, none, block);
    width: 100%;
    top: 0;
    display: block;

    @include sp_only {
        display: none;
    }
}

header .pcmenu .header_top {
    background: #fff;
    padding: 14px 0;
}

header .pcmenu .header_top h1 {
    float: left;
    @include padding(10px 0 3px 15px);
}

header .pcmenu .header_contact {
    float: right;
    width: 250px;
    text-align: right;
}

header .pcmenu .header_contact address {
    color: $keycolor1;
    font-size: 14px;
    font-family: 'arial';
    font-weight: bold;
}

header .pcmenu .header_contact .time {
    font-weight: bold;
    color: $keycolor1;
    font-size: 13px;
    letter-spacing: 0.6px;
    font-family: 'arial';
}

header .pcmenu .header_contact .tel {
    color: #96601a;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    font-family: 'arial';
    text-align: right;
    padding-left: 30px;
}

header .pcmenu .header_contact .tel .mark {
    float: left;
    padding-right: 5px;
}

header .pcmenu .header_contact .tel .num {
    float: left;
    position: relative;
    top: 3px;
}

header .pcmenu .header_bottom {
    width: 100%;
    background: $keycolor1;
}

#page_lineup header .pcmenu .header_bottom,
#page_guide header .pcmenu .header_bottom,
#page_rental header .pcmenu .header_bottom,
#rental_404 header .pcmenu .header_bottom {
    background: $keycolor2;
}

header .pcmenu .header_bottom nav {
    width: 100%;
}

header .pcmenu .header_bottom nav ul {
    @include pc() {
        //        display: flex;
    }
}

header .pcmenu .header_bottom nav ul li {
    float: left;
    position: relative;
    display: block;
    line-height: 1.4;
    color: #fff;
}

header .pcmenu .header_bottom nav ul li a {
    text-align: center;
    display: block;
    color: #fff;
    border-left: 1px solid #fff;
    @include size(14);

    @include tab() {
        padding: 1px 43px;
        margin: 13px 0;
    }

    @include pc() {
        padding: 1px 43px;
        margin: 13px 0;
    }

    position: relative;
}

#page_lineup header .pcmenu .header_bottom nav ul li a,
#page_guide header .pcmenu .header_bottom nav ul li a,
#page_rental header .pcmenu .header_bottom nav ul li a,
#rental_404 header .pcmenu .header_bottom nav ul li a {
    padding: 1px 70px;
}

header .pcmenu .header_bottom nav ul li:last-of-type a {
    border-right: 1px solid #fff;
}

header .pcmenu .header_bottom nav ul li a:hover {
    background: $keycolor1;
    color: #fff !important;
    z-index: 99;
    position: relative;
}

header .pcmenu .header_bottom nav ul li a:hover {
    background: $keycolor1;
    color: #fff !important;
    z-index: 99;
    position: relative;
}

#page_lineup .pcmenu .header_bottom nav ul li a:hover,
#page_guide .pcmenu .header_bottom nav ul li a:hover,
#page_rental .pcmenu .header_bottom nav ul li a:hover,
#rental_404 .pcmenu .header_bottom nav ul li a:hover {
    background: $keycolor2;
}

header .pcmenu .header_bottom nav ul li ul.drop {
    position: absolute;
    display: none;
    float: none;
    z-index: 99999;
    border: none;
    background: none;
    margin-right: 15px;
    width: auto;
    left: 0px;
}

header .pcmenu .header_bottom nav ul li ul.drop li {
    background: none;
    border: none;
    float: none;
    position: static;
    padding: 0px;
    display: block;
    width: 145px;
}

header .pcmenu .header_bottom nav ul li ul.drop li:after {
    content: none;
}

header .pcmenu .header_bottom nav ul li ul.drop li a {
    display: block;
    float: none;
    border-left: 1px solid $keycolor1;
    border-right: 1px solid $keycolor1;
    border-bottom: 1px solid $keycolor1;
    background: $keycolor1;
    ;
    text-align: center;
    padding: 9px 19px 7px;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.6;
    font-weight: normal;
    margin: 0;
    font-size: 13px;
    font-size: 1.3rem;
}

header .pcmenu .header_bottom nav ul li ul.drop li a:hover {
    background: #fff;
    color: $keycolor1 !important;
}

header .pcmenu .header_bottom nav ul li ul.drop li a:hover:after {
    transform: scale(0, 0);
}

header .pcmenu .header_bottom_dammy {
    width: 100%;
    height: 47px;
    display: none;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--spmenu
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

header .spmenu {
    z-index: 999999;
    width: 100%;
    height: 52px;
    top: 0;
    @include display(block, block, none);
    position: fixed;
    background: #fff;

    @include sp_only {
        border-bottom: 2px solid $keycolor1;
    }

    @include tab_only {
        border-bottom: 2px solid $keycolor1;
    }

}

#page_lineup header .spmenu,
#page_guide header .spmenu,
#page_rental header .spmenu,
#rental_404 header .spmenu {
    border-bottom: 2px solid $keycolor2;
}

header .spmenu #menu-text {
    position: absolute;
    padding-top: 15px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    left: 14px;
}

.drawer-open #menu-text {
    left: 12px !important;
}

.drawer-close #menu-text {
    left: 14px !important;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
    background-color: #fff !important;
}

header .spmenu .nav-top {
    @include display(block, none, none);
    background: #fff;
    border-bottom: 1px solid $keycolor1;
}

#page_lineup header .spmenu .nav-top,
#page_guide header .spmenu .nav-top,
#page_rental header .spmenu .nav-top,
#rental_404 header .spmenu .nav-top {
    border-bottom: 1px solid $keycolor2;
}


header .spmenu .nav-top ul {
    width: 92%;
    margin: 0 auto;
    padding: 2% 0;
}

header .spmenu .nav-top ul li {
    float: left;
    margin-right: 2%;
    width: 49%;
}

header .spmenu .nav-top ul li:last-of-type {
    margin-right: 0%;
}

header .spmenu .nav-top ul li a {
    width: 100%;
    display: block;
    background: #ffffcb;
    border: 1px solid #ffa243;
    padding: 6px 0 0;
    border-radius: 5px;
}

header .spmenu .nav-top ul li img {
    width: 25px;
    margin: 0 auto;
    display: block;
    line-height: 1;
    text-align: center;
}

header .spmenu .nav-top ul li .text {
    font-size: 10px;
    line-height: 0;
    top: -1px;
    position: relative;
    color: $keycolor1;
    display: block;
    padding: 10px 0;

}

.drawermenu .inner {
    @include tab_only {
        border-top: none !important;
    }

    @include sp_only {
        border-top: none !important;
    }
}

header .spmenu h1 {
    text-align: left;
    padding: 9px 0 0 10px;
}

header .spmenu h1 img {
    @include tab_only() {
        width: 200px;
    }

    @include sp_only() {
        width: 200px;
    }
}

header .spmenu .drawer-hamburger {
    width: 2.6rem;
    padding: 10px 16px 30px;
    position: fixed;
    z-index: 99999;
    margin-top: 0px;
    background: $keycolor1;
}

#page_lineup .spmenu .drawer-hamburger,
#page_guide .spmenu .drawer-hamburger,
#page_rental .spmenu .drawer-hamburger,
#rental_404 .spmenu .drawer-hamburger {
    background: $keycolor2;
}

header .spmenu .drawer-brand {
    max-width: 200px;
    margin-left: -15px;
}

header .spmenu .drawer-brand img {
    width: 84%;
    height: auto;
    margin-top: 7px;
}


header .spmenu .drawer-menu-item {
    text-align: left;
    padding: 5% 8% 5% 4%;
    position: relative;
    font-size: 13px;
    font-size: 1.3rem;
    background: #fff !important;
    color: #000 !important;
}

header .spmenu .drawer-menu-item span {
    font-size: 11px;
    padding-left: 8%;
    color: $keycolor1;
}

#page_lineup header .spmenu .drawer-menu-item span,
#page_guide header .spmenu .drawer-menu-item span,
#page_rental header .spmenu .drawer-menu-item span,
#rental_404 header .spmenu .drawer-menu-item span {
    color: $keycolor2;
}

header .spmenu .drawer-menu li {
    width: 50%;
    float: left;

}

header .spmenu .drawer-menu li:nth-child(2n) .drawer-menu-item {
    border-left: 1px solid $keycolor1;
}

#page_lineup header .spmenu .drawer-menu li:nth-child(2n) .drawer-menu-item,
#page_guide header .spmenu .drawer-menu li:nth-child(2n) .drawer-menu-item,
#page_rental header .spmenu .drawer-menu li:nth-child(2n) .drawer-menu-item,
#rental_404 header .spmenu .drawer-menu li:nth-child(2n) .drawer-menu-item {
    border-left: 1px solid $keycolor2;
}



header .spmenu .color .drawer-menu-item {
    color: #000;
    background: #fff;
    border-bottom: 2px solid $keycolor1;

}

#page_lineup header .spmenu .color .drawer-menu-item,
#page_guide header .spmenu .color .drawer-menu-item,
#page_rental header .spmenu .color .drawer-menu-item,
#rental_404 header .spmenu .color .drawer-menu-item {
    border-bottom: 2px solid $keycolor2;
}

header .spmenu li #acMenu dt {
    text-align: left;
    padding: 3% 4%;
    font-size: 15px;
    font-size: 1.5rem;
    background: #595555;
    color: #fff;
}

header .spmenu li #acMenu dd {
    background: #ffffff;
    text-align: center;
    display: none;
    margin: 0px;
    padding: 0px;
}

header .spmenu li #acMenu .accordion_icon,
.accordion_icon span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

header .spmenu li #acMenu .accordion_icon {
    position: relative;
    width: 20px;
    height: 20px;
    float: right;
    margin-right: -5px;
    top: 7px;
    margin-bottom: 0px !important;
}

header .spmenu li #acMenu .accordion_icon span {
    position: absolute;
    left: 6px;
    width: 50%;
    height: 1px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

header .spmenu li #acMenu .accordion_icon span:nth-of-type(1) {
    top: 5px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

header .spmenu li #acMenu .accordion_icon span:nth-of-type(2) {
    top: 5px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

/*＋、－切り替え*/
header .spmenu li #acMenu .accordion_icon.active span:nth-of-type(2) {
    display: none;
}

#acMenu .accordion_icon.active span:nth-of-type(1) {
    top: 5px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

header .spmenu .inner {
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
}

header .spmenu .sp-title {
    padding: 2% 4% 2% 2%;
    text-align: left;
    font-weight: bold;
    color: #fff;
    background: $keycolor1;
}

#page_lineup .spmenu .sp-title,
#page_guide .spmenu .sp-title,
#page_rental .spmenu .sp-title,
#rental_404 .spmenu .sp-title {
    background: $keycolor2;
}

#page_lineup header .spmenu .sp-title,
#page_guide header .spmenu .sp-title,
#page_rental header .spmenu .sp-title,
#rental_404 header .spmenu .sp-title {
    background: $keycolor2;
}


header .spmenu .drawer-menu-item:after {
    position: absolute;
    top: 50%;
    right: 4%;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

header .spmenu .color .drawer-menu-item:after {
    border-top: 1px solid $keycolor1;
    border-right: 1px solid $keycolor1;
}

#page_lineup header .spmenu .color .drawer-menu-item:after,
#page_guide header .spmenu .color .drawer-menu-item:after,
#page_rental header .spmenu .color .drawer-menu-item:after,
#rental_404 header .spmenu .color .drawer-menu-item:after {
    border-top: 1px solid $keycolor2;
    border-right: 1px solid $keycolor2;
}

header .spmenu .drawer-menu-item:hover {
    text-decoration: underline;
}

header .spmenu .drawer-nav {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

header .spmenu .bnr {
    padding: 4%;
    background: #fff;
    border-bottom: 2px solid $keycolor1;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pagetitle
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#pagetitle-photo {
    @include height(102px, 153px, 204px);
    width: 100%;
    text-align: center;
    background-size: cover;

    @include tab_only {
        margin-top: 52px;
    }

    @include sp_only {
        margin-top: 52px;
    }

}

#page_lineup #pagetitle-photo {
    @include height(160px, 222px, 375px);
}

.pagetitle-text {
    background: #f2f2f2;
}

.pagetitle-text h2 {
    font-weight: 900;
    color: #1a1a1a;
    @include size(22, 38);
    text-align: center;
    line-height: 1.3;
    @include padding(4% 0 4%, 15px 0 25px);
}

.pagetitle-text h2 span.small {
    color: #6cbd33;
    @include size(12, 16);
    display: block;
    font-weight: bold;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pan
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#pan {
    text-align: left;
    @extend .fsize_xs;
    @include padding(3px 5px 0);
    @include margin-bottom(2%, 20px, 20px);

    @include sp_only {
        display: none;
    }
}

#pan a:hover {
    text-decoration: underline;
}

#pan h2 {}




/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--contents
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


#contents_outer {
    @include margin(false, 0 auto 0);
    @extend .fsize;
    text-align: left;
    @include width(100%, 92%, 1000px);
}


#contents_outer #main_contents {
    @include width(92%, 69%, 690px);
    float: left;
    margin-right: 40px;

    @include tab_only {
        margin-right: 4%;
        //        margin:0 auto;
        //        display: block;
        //        float:none;
    }

    @include sp_only {
        margin: 0 auto;
        display: block;
        float: none;
    }
}

#main_contents.col1 {
    @include width(100%, 69%, 690px);
    margin-right: auto;

}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--sidebar
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#sidebar-sp {
    @include display(block, none, none);
}

#sidebar {
    @include display(none, block, block);
    width: 270px;
    float: left;

    @include tab_only {
        width: 27%;
        float: left;
    }

    @include sp_only {
        width: 100%;
        float: none;
        padding-top: 4%;
        background: #f2f2f2;
    }
}

#sidebar ul {
    @include tab_only {
        padding-top: 4%;
    }

    @include sp_only {
        width: 92%;
        margin: 0% auto 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}


#sidebar ul li {
    @include sp_only {
        margin-bottom: 4%;
        padding-top: 0;
        width: 48%;
        float: left;
        margin-right: 4%;
    }
}

#sidebar ul li:last-of-type {
    @include tab_only {
        margin-right: 1%;
    }
}

#sidebar ul li:nth-child(2n) {
    @include sp_only {
        margin-right: 0%;
    }
}

#sidebar .stock .left {
    width: 50%;
    float: left;
}

#sidebar .stock .right {
    width: 50%;
    float: left;
}

#sidebar .stock a:hover img {
    opacity: 0.8;
}


#sidebar-sp ul {
    @include tab_only {
        padding-top: 4%;
    }

    @include sp_only {
        width: 92%;
        margin: 0% auto 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}


#sidebar-sp ul li {
    margin-bottom: 4%;
    padding-top: 0;
    width: 48%;
    float: left;
    padding-right: 4%;
}

#sidebar-sp ul li:nth-child(2n) {
    padding-right: 0% !important;
}

#sidebar-sp .stock .left {
    width: 50%;
    float: left;
}

#sidebar-sp .stock .right {
    width: 50%;
    float: left;
}




/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--footer
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
footer {
    background: #fff;
}


.footer-top {
    background: $keycolor1;
    @include padding(2% 0, 25px 0);
}

#page_lineup .footer-top,
#page_guide .footer-top,
#page_rental .footer-top,
#rental_404 .footer-top {
    background: #fff;
}

.footer-top .footer_logo {
    float: left;
    @include width(100%, 300px);

    @include pc_only {
        padding-top: 8px;
    }

    @include tab_only {
        padding-top: 18px;
    }

    @include sp_only {
        padding-top: 2%;
        text-align: center;
    }
}


@include sp_only {
    .footer-top .footer_logo a img {
        text-align: center;
        width: 260px;
        margin-bottom: 2%;
    }
}

.footer-top .footer_contact {
    @include tab {
        float: right;
    }

    @include width(100%, 380px, 445px);
    text-align: right;
    color:#fff;
}

#page_lineup .footer-top .footer_contact,
#page_guide .footer-top .footer_contact,
#page_rental .footer-top .footer_contact,
#rental_404 .footer-top .footer_contact {
    color: #1A1A1A;
}

.footer-top .footer_contact address {
    letter-spacing: 1.5px;

    @include sp_only {
        text-align: center;
    }
}

.footer-top .footer_contact .tel {
    @include tab {
        float: left;
    }

    @include width(25px, 30px);
    padding-right:5px;
}

.footer-top .footer_contact .inner {
    @include width(100%, 520px);

    @include tab_only {
        width: 220px;
        text-align: left;
        margin-left: auto;
    }

    @include sp_only {
        text-align: center;
    }
}

.footer-top .footer_contact .time {
    @include tab {
        float: left;
        width: 230px;
    }

    letter-spacing: 0.7px;
    @include size(12, 13);

    @include pc_only {
        padding-top: 8px;
    }

    @include tab_only {
        padding-top: 4px;
    }

    @include sp_only {
        padding-top: 2px;
        text-align: center;
    }

    @include padding-bottom(1%, 0);
}

.footer-top .footer_contact .num {
    color: #fff;
    @include size(25, 30);
    line-height: 1;
    font-family: 'arial';

    @include tab {
        float: left;
    }

    position: relative;
    top: 3px;
}

.footer-top .footer_contact .num a {
    color: #fff;
    text-decoration: none;
}

#page_lineup .footer-top .footer_contact .num a,
#page_guide .footer-top .footer_contact .num a,
#page_rental .footer-top .footer_contact .num a,
#rental_404 .footer-top .footer_contact .num a {
    color: $keycolor2;
    text-decoration: none;
}

#page_lineup .footer-top .footer_contact .num,
#page_guide .footer-top .footer_contact .num,
#page_rental .footer-top .footer_contact .num,
#rental_404.footer-top .footer_contact .num {
    color: $keycolor2;
}

footer nav ul li {
    float: left;
}

footer .map iframe {
    width: 100%;
    @include height(140px, 280px);
    vertical-align: bottom;
}

footer nav ul {
    margin: 0 auto;
    display: flex;
    justify-content: center;

    @include sp_only {
        display: block;
    }
}

footer nav ul li {
    padding: 20px 0px;

    @include sp_only {
        padding: 0% 0%;
        width: 100%;
    }
}

footer nav ul li:first-of-type a {
    border-left: 1px solid #4d4d4d;

    @include sp_only {
        border-left: none;
    }
}

footer nav ul li a {
    padding: 0px 30px;
    text-align: center;
    display: block;
    position: relative;
    color: #4d4d4d !important;
    border-right: 1px solid #4d4d4d;
    font-size: 13px;
    font-size: 1.3rem;
    position: relative;

    @include tab_only {
        padding: 0px 15px;
    }

    @include sp_only {
        text-align: left;
        text-decoration: none;
        display: block;
        border-bottom: 1px solid #ccc;
        padding: 2% 4%;
        position: relative;
        border-right: none;
    }
}

footer nav ul li a:after {
    @include sp_only {
        position: absolute;
        top: 50%;
        right: 4%;
        display: block;
        content: "";
        width: 6px;
        height: 6px;
        margin-top: -3px;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}




footer .copy {
    text-align: center;
    color: #fff;
    background: $keycolor1;
    padding: 5px 0;
    @include size(11);

    @include sp_only {
        text-align: center;
        margin-top: 8%;
    }
}

#page_lineup footer .copy,
#page_guide footer .copy,
#page_rental footer .copy,
#rental_404 footer .copy {
    background: $keycolor2;
}

.footer-tel {
    width: 100%;
    margin: 0 auto;
    padding-top: 4%;
}

.footer-tel h3 {
    text-align: center;
}

.footer-tel p {
    text-align: center;
}

.footer-tel h3 .underline {
    background: linear-gradient(transparent 70%, #fcee21 70%);
}

.footer-tel a {
    width: 100%;
    border: 1px solid #8baa07;
    border-radius: 6px;
    display: block;
    padding: 7px 0;
    background: #8baa07;
    color: #fff;
    font-weight: bold;
    position: relative;

}

.footer-tel a:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    right: 9px;
    top: 39%;

}

.footer-tel a:after {
    content: "";
    position: absolute;
    /* left: 3px; */
    width: 5px;
    height: 5px;
    border-top: 2px solid #8baa07;
    border-right: 2px solid #8baa07;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 15px;
    top: 49%;

}



.footer-tel a img {
    position: relative;
    left: 20px;
}

.footer-tel a span.num {
    display: block;
    font-size: 24px;
    font-family: 'arial';
    line-height: 1;
}

.footer-tel a span.text {
    position: relative;
}

.footer-tel a span.text:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 18px;
    height: 22px;
    left: -43px;
    top: 115%;
    background-image: url(../images/tel_mark.svg);
    background-size: contain;
    vertical-align: middle;
}

#page_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
}

#page_top img {
    @include sp_only {
        width: 50px;
    }
}

#pagination {
    position: relative;
    left: 50%;
    float: left;
    list-style: none;
    margin: 20px 0 40px;
}

#pagination .page-numbers {
    position: relative;
    left: -50%;
    float: left;
}

#pagination .page-numbers,
#pagination .page-numbers:hover {
    border: solid 1px #CECECE;
    color: #FFFFFF;
    background: #2687a8;
}

#pagination .page-numbers.current {
    border: solid 1px #CECECE;
    color: #FFFFFF;
    background: #2687a8;
}

#pagination .page-numbers {
    border: 1px solid #CECECE;
    margin: 0 3px;
    padding: 3px 7px;
    display: block;
    text-decoration: none;
    color: #666666;
    background: #fff;
}

#sidelink {
    position: fixed;
    right: 0;
    top: 190px;
    z-index: 9999;

    @include tab_only {
        display: none;
    }

    @include sp_only {
        display: none;
    }
}
