@charset "utf-8";
@import "base/_config";
@import "base/_mixin";
@import "base/_extend";


/********************************************************************************
　--index
*********************************************************************************/
#page_index section.mainvisual {
    min-height: 500px;
    background-size: cover;
    @include padding(4% 0 4%, 50px 0 50px, 150px 0 50px);

    @include sp_only {
        min-height: 460px;
        margin-top: 51px;
    }
}

#page_index section.mainvisual #vegas-text {
    width: 480px;
    background: rgba(152, 203, 0, 0.7);
    z-index: 99;
    margin: 20px auto 0;
    position: relative;

    @include tab_only {
        margin: 45px auto 0;
    }

    @include sp_only {
        width: 92%;
        margin: 0 auto;
        bottom: 34%;
        position: absolute;
        left: 4%;
    }
}

#mainvisual #vegas-msg {
    margin-top: 0 !important;
    color: #000 !important;
    padding: 20px 20px 20px;
    text-align: left;
}

#mainvisual #vegas-msg h3 {
    @include size(21, 26);
    line-height: 1.4;
    font-family: $font_oswald;
    text-align: center;
    color: #fff;
    font-weight: normal;
    width: 70%;
    border-bottom: 1px solid #fff;
    margin: 0 auto;
    padding-bottom: 15px;
}

#mainvisual #vegas-msg p {
    font-size: 20px;
    padding-top: 15px;
    color: #fff;
    text-align: center;
    font-weight: normal;

    @include sp_only {
        font-size: 12px;
    }

}

@media screen and (max-width:340px) {
    #mainvisual #vegas-msg p br {
        @include sp_only {
            display: none;
        }
    }
}

#mainvisual #vegas-msg h3 span {
    @include size(12, 16);
    display: block;
    color: $keycolor1;
    font-weight: normal;
}

.vegas-wrapper {
    padding-top: 140px !important;
}


#page_index section.top_menu h2 {
    text-align: center;
}

#page_index section.top_menu li .baloon {
    color: #fff;
    display: block;
    text-align: center;
    @include margin(0 0px 20px, 0 20px 20px);
    padding: 3px 0 4px;
    position: relative;
    @include size(13, 16);
}

#page_index section.top_menu li .baloon:after {
    content: "";
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 8px 0 8px;
    border-color: #fff transparent transparent transparent;
}

#page_index section.top_menu li:nth-child(1) .baloon {
    background: #e87d72;
}

#page_index section.top_menu li:nth-child(2) .baloon {
    background: #98cb00;
}

#page_index section.top_menu li:nth-child(3) .baloon {
    background: #ffa243;
}

#page_index section.top_menu li:nth-child(1) .baloon:after {
    border-color: #e87d72 transparent transparent transparent;
}

#page_index section.top_menu li:nth-child(2) .baloon:after {
    border-color: #98cb00 transparent transparent transparent;
}

#page_index section.top_menu li:nth-child(3) .baloon:after {
    border-color: #ffa243 transparent transparent transparent;
}

#page_index section.top_menu .grid_col3 .col {
    width: 33.333%;
    margin-bottom: 2%;
    margin-right: 0;

    @include sp_only {
        width: 100%;
    }
}

#page_index section.top_menu .grid_col3 .col .text {
    @include padding(2% 0 4%, 20px 10px 0 10px);
    line-height: 1.55;

    @include sp_only {
        font-size: 12px;
    }
}




@include sp_only {
    #page_index section.top_menu .grid_col3 li:nth-child(1) figure {
        border: 2px solid #e87d72;
    }

    #page_index section.top_menu .grid_col3 li:nth-child(2) figure {
        border: 2px solid #98cb00;
    }

    #page_index section.top_menu .grid_col3 li:nth-child(3) figure {
        border: 2px solid #ffa243;
    }

    #page_index section.top_menu .grid_col3 figure .photo {
        width: 20%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        justify-content: center;
    }

    #page_index section.top_menu .grid_col3 figcaption h2 {
        background: linear-gradient(transparent 70%, #fff385 0%);
    }

    #page_index section.top_menu .grid_col3 figure {
        border: none;
        background: #fff;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 100%;
        position: relative;
    }

    #page_index section.top_menu .grid_col3 figcaption {
        width: 80%;
        position: relative;
        text-align: left;
        display: flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        align-items: center;
        justify-content: center;
        line-height: 2;
        position: relative;
    }

    #page_index section.top_menu .grid_col3 figcaption:after {
        position: absolute;
        top: 50%;
        right: 17px;
        display: block;
        content: "";
        width: 7px;
        height: 7px;
        margin-top: -3px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #page_index section.top_menu .grid_col3 figcaption .caption {
        display: none;
    }

    #page_index section.top_menu .grid_col3 figure img {
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
        width: 100%;
        height: auto;
    }

}





















#page_index section.sales {
    background: url(../images/index_sales_bg.jpg) no-repeat center;
    background-size: cover;

    @include pc_only {
        background-attachment: fixed;
    }
}

#page_index section.sales dl {
    margin: 0 auto;
    text-align: center;
}

#page_index section.sales dl dt {
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 2px 20px;
    @include width(100%, 340px);
    @include size(13, 18);
}

#page_index section.sales dl dt.red {
    background: #d86450;
}

#page_index section.sales dl dt.green {
    background: #99aa59;
}

#page_index section.sales dl dd {
    padding: 20px 0;

    @include sp_only {
        text-align: left;
    }
}

#page_index section.kaitori .outer {
    width: 100%;
}

#page_index section.kaitori .outer .text {
    @include width(100%, 65%);
    float: left;
    @include padding-top(2%, 10px);
    @include padding-bottom(8%, 0px);
}

#page_index section.kaitori .outer .text .red {
    color: #ed1c24;
}

#page_index section.kaitori .outer .photo {
    @include width(100%, 31%);
    @includ padding-left(0, 4%);
    float: right;
    @include padding-bottom(0, 54px);

}

#page_index section.kaitori .outer .photo img {
    width: 100%;
}

#page_index section.news dl.news_list {
    width: 100%;
    border-bottom: 1px solid #ccc;
    @include padding(2% 0, 7px 0px);
    @include size(13, 15);

    @include tab() {
        line-height: 1.4;
    }
}

#page_index section.news dl.news_list dt {
    width: 100%;
    display: block;
    padding: 3px 0;
    margin: 10px 0;
    border-right: 1px solid #ccc;

    @include sp_only {
        @include size(11);
        border-bottom: none;
        padding-bottom: 0 !important;
        margin-top: 0;
        margin-bottom: 0;
        color: #999;
        border-right: none;
    }

    @include tab_only {
        border-right: none;
        @include size(11);
        border-bottom: none;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        color: #999;
    }

    @include pc {
        width: 6em;
        float: left;
    }
}

#page_index section.news dl.news_list dd {
    width: 70%;
    float: left;
    padding: 3px 0;
    margin: 10px 0;
    display: block;

    @include sp_only {
        margin-top: 0;
        margin-bottom: 0;
    }
}

#page_index section.news dl.news_list dd {
    @include pc {
        padding-left: 20px;
    }
}

#page_index section.news .news-header {
    @include size(16, 18);
    border-left: 2px solid $keycolor1;
    line-height: 1;
    padding-left: 12px;
}

#page_index section.news .news-header .small {
    @include size(10, 12);
    color: $keycolor1;
    padding-left: 10px;
}

/********************************************************************************
　--about
*********************************************************************************/
#page_about .about section.topmessage {
    background: url(../images/about_topmessage_bg.jpg) no-repeat center;
    background-size: cover;
}

#page_about .about section.topmessage .outer {
    @include padding(0, 0, 0 220px);
    @include width(92%, 100%, 1000px);
    margin: 0 auto;

    @include sp_only {
        text-align: left;
    }
}

#page_about .about section.topmessage h4 {
    font-family: $font_mincho;
    @include size(18, 24);
    font-weight: bold;
    text-align: right;

    @include tab_only {
        padding-right: 80px;
    }
}

#page_about .about section.topmessage h4 .small {
    @include size(12, 16);
    padding-right: 10px;
}

#page_about section.access p {
    text-align: center;
}

#page_about section.access dl {
    width: 100%;
}

#page_about section.access dl dt {
    background: #d86450;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 4px 0;
    @extend .fsize;
    @include size(15, 18);
}

#page_about section.access dl dd {
    background: #fff;
    width: 100%;
    text-align: center;
    line-height: 1.5;
    padding: 20px 0;
    border-left: 2px solid #d86450;
    border-right: 2px solid #d86450;
    border-bottom: 2px solid #d86450;

    @include sp_only {
        padding: 4%;
        text-align: left;
    }
}

#page_about section.shokai p {
    text-align: center;
}








#page_mantenance section.mantenance .outer {
    width: 100%;

    @include sp_only {
        padding-bottom: 4%;
    }
}

#page_mantenance section.mantenance .outer .text {
    @include width(100%, 56%);
}

#page_mantenance section.mantenance .outer.photo-left .text {
    @include margin-left(0, 4%);
    float: left;
    @include padding(0% 4% 4% 4%, 40px 0px 40px 40px);
}

#page_mantenance section.mantenance .outer.photo-right .text {
    @include margin-right(0, 4%);
    float: right;
    @include padding(0% 4% 4% 4%, 40px 0px 40px 40px);
}

#page_mantenance section.mantenance .outer.photo-right .text .linkbtn1 a {
    @include sp_only {
        width: 100%;
        text-align: center;
    }

}

#page_mantenance section.mantenance .outer.photo-right .text h3 {
    @include size(15, 18);
}

#page_mantenance section.mantenance .outer .photo {
    @include padding(6%, 40px);
}

#page_mantenance section.mantenance .outer.photo-left .photo {
    @include width(100%, 40%);
    float: left;
}

#page_mantenance section.mantenance .outer.photo-right .photo {
    @include width(100%, 40%);
    float: right;
}

#page_mantenance section.mantenance .outer .photo .inner {
    padding: 12px;
    box-shadow: 3px 3px 8px 3px #b0b0b0;
    position: relative;
    padding-top: 20px;
}

#page_mantenance section.mantenance .outer .photo .inner .tape {
    position: absolute;
    top: -20px;
    left: 42%;
}

#page_mantenance section.mantenance .right h4 {
    color: #6cbd33;
    @include size(18, 24);
    line-height: 1.4;
    font-weight: bold;
    letter-spacing: -1px;

    @include sp_only {
        text-align: center;
    }
}

#page_mantenance section.mantenance .right p {
    line-height: 1.4;
    letter-spacing: 0px;
    padding-top: 20px;
}


#page_mantenance section.mantenance dl {
    border-radius: 13px;
    margin-bottom: 40px;
    background: #fff;
}

#page_mantenance section.mantenance dl dt {
    color: #fff;
    text-align: left;
    @include size(18, 22);
    letter-spacing: 1px;
    @include padding(4px 0 4px 4%, 4px 0 4px 35px);
}

#page_mantenance section.mantenance dl.red {
    border: 2px solid #e87d72;
}

#page_mantenance section.mantenance dl.red dt {
    background: #e87d72;
    border-radius: 10px 10px 0 0 / 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
}

#page_mantenance section.mantenance dl.green {
    border: 2px solid #99aa59;
}

#page_mantenance section.mantenance dl.green dt {
    background: #99aa59;
    border-radius: 10px 10px 0 0 / 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
}

#page_mantenance section.mantenance span.red {
    color: #ed1c24;
}

#page_afterfollow section.afterfollow section.security .wrapper {
    padding: 0 4%;
}

#page_afterfollow section.afterfollow .outer .text {
    @include width(100%, 69%);
    float: left;
    padding-top: 10px;

}

#page_afterfollow section.afterfollow .outer {
    @include tab_only {
        padding-bottom: 4%;
    }
}

#page_afterfollow section.afterfollow .outer .text .red {
    color: #ed1c24;
}

#page_afterfollow section.afterfollow .outer .photo {
    @include width(100%, 31%);
    @include padding-left(0, 4%);
    float: right;
    @incude padding-bottom(0, 54px);
}

#page_afterfollow section.afterfollow .outer .photo img {
    width: 100%;
}

#page_afterfollow section.security .bottom {
    @include padding-left(0, 10px);

    @include sp_only {
        padding-top: 4%;
    }
}

#page_afterfollow section.security .bottom ol li {
    text-indent: -2em;
    padding-left: 2em;
}

#page_afterfollow section.security h4 {
    @include size(15, 18);
}

#page_afterfollow section.security h5 {
    @include size(18, 22);
    color: #ed1c24;
}

#page_afterfollow section.security h5 .under {
    background: linear-gradient(transparent 70%, #fcee21 70%);
}

#page_afterfollow section.accident h4 {
    text-align: center;

}

#page_afterfollow section.accident .underarrow {
    @include sp_only {
        width: 60px;
    }
}

#page_afterfollow section.accident .flow dl {
    text-align: center;
    border-radius: 10px;
    border: 1px solid #5c8406;
    background: #fff;
    padding: 35px 40px;
    text-align: left;

    @include sp_only {
        padding: 4%;
    }
}

#page_afterfollow section.accident .flow dl dt {
    @include size(16, 20);
    @include padding-bottom(2%, 20px);
}

#page_afterfollow section.accident .flow dl dt .num {
    margin-left: 1px;
    @include size(16, 20);
    background-color: #5c8406;
    color: white;
    /* font-weight: bold; */
    top: -1px;
    position: relative;
    @include padding(4px 8px, 6px 12px);
    border-radius: 18px;
    font-family: 'arial';
    margin-right: 10px;
}

#page_afterfollow section.accident .flow dd .red {
    color: #ed1c24;
}

#page_afterfollow section.accident .service {
    width: 100%;
    border: 1px solid #d86450;
}

#page_afterfollow section.accident .service dt {
    color: #fff;
    text-align: left;
    background: #d86450;
    padding: 4px 0 4px 30px;
    @include size(15, 18);
}

#page_afterfollow section.accident .service dd {
    background: #fff;
    @include padding(4%, 20px 30px);
}

#page_afterfollow section.afterfollow .service .outer .text {
    @include width(100%, 100%, 60%);

}

#page_afterfollow section.afterfollow .service .outer .photo {
    @include width(auto);
    padding-left: 0%;
    float: right;
    padding-bottom: 0;
    @include padding-top(2%, 2%, 0);

    @include tab_only {
        width: 210px;
    }

    @include sp_only {
        width: 160px;
        text-align: center;
    }
}

#page_line .line_top {
    background: $keycolor4;
}

#page_line .line_top .outer {
    width: 100%;
    padding: 0 14%;

    @include sp_only {
        padding: 0;
    }
}

#page_line .line_top .outer .left {
    width: 35%;
    float: left;

    @include sp_only {
        width: 100%;
        float: none;
    }

}

#page_line .line_top .outer .left img {
    margin: 0 auto;
    display: block;

    @include sp_only {
        width: 120px;
    }
}

#page_line .line_top .outer .right {
    width: 65%;
    float: left;

    @include sp_only {
        width: 100%;
        float: none;
    }
}

#page_line .line_top .outer .right ul {
    @include sp_only {
        width: 320px;
        margin: 0 auto;
    }
}

@media screen and (max-width:350px) {
    #page_line .line_top .outer .right ul {
        width: 100%;
    }
}

#page_line .line_top .outer .right h3 {
    @include sp_only {
        margin-top: 2%;
    }
}

#page_line .line_top .outer .right h3 img {
    @include sp_only {
        text-align: center;
        margin: 0 auto;
        display: block;
        width: 300px;
    }
}

#page_line .line_top .outer .right ul li {
    color: #fff;
    position: relative;
    margin-left: 28px;
    padding-bottom: 3px;
    @include size(14, 16);
    font-weight: bold;
}

#page_line .line_top .outer .right ul li:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 11px;
    left: -17px;
    border-style: solid;
    border-width: 4px 0 4px 8px;
    border-color: transparent transparent transparent $keycolor5;
}

#page_line .line_account h3 {
    color: $keycolor4;
    text-align: center;
    font-weight: bold;
    position: relative;
    @include size(18, 26);
}

#page_line .line_account h3:before {
    content: '';
    margin-top: -4px;
    margin-right: 20px;
    display: inline-block;
    width: 21px;
    height: 32px;
    background-image: url(../images/line_headline_b.svg);
    background-size: contain;
    vertical-align: middle;
}

#page_line .line_account h3:after {
    content: '';
    margin-top: -4px;
    margin-left: 20px;
    display: inline-block;
    width: 21px;
    height: 32px;
    background-image: url(../images/line_headline_a.svg);
    background-size: contain;
    vertical-align: middle;
}

@media screen and (max-width:380px) {
    #page_line .line_account h3:before {
        display: none;
    }

    #page_line .line_account h3:after {
        display: none;
    }
}

#page_line .line_account ul {
    width: 100%;
}

#page_line .line_account ul li {
    width: 32%;
    float: left;

    @include sp_only {
        width: 100%;
    }
}

#page_line .line_account ul li:first-of-type {
    margin-right: 2%;

    @include sp_only {
        margin-right: 0%;
        margin-bottom: 4%;
    }
}

#page_line .line_account ul li:last-of-type {
    margin-left: 2%;

    @include sp_only {
        margin-left: 0%;
        margin-top: 4%;
    }
}

#page_line .line_account ul li {
    border: 2px solid #E87D72;
}


#page_line .line_account ul li dl dt {
    @include size(18, 26);
    background: #E87D72;
    color: #fff;
    line-height: 1;
    text-align: center;
    padding-top: 7px;
    font-weight: bold;
    padding-bottom: 0px;

}

#page_line .line_account ul li dl dt .text {
    @include sp_only {
        position: relative;
        top: 7px;
        z-index: 99;
        font-size: 24px;
    }
}

@media screen and (max-width:470px) {
    #page_line .line_account ul li dl dt .text {
        top: 2px;
        z-index: 99;
        font-size: 20px;
    }
}

#page_line .line_account ul li dl dd {
    position: relative;
}

#page_line .line_account ul li dl dd .outer {
    padding: 15px 20px;

    @include sp_only {
        padding: 4%;
    }
}

#page_line .line_account ul li dl dd img {
    text-align: center;
    margin: 0 auto;
    display: block;

    @include sp_only {
        width: 55px;
    }
}

#page_line .line_account ul li dl dd .outer p {
    @include size(15, 18);
    padding-top: 12px;

    @include sp_only {
        text-align: center;
    }
}

@media screen and (max-width:470px) {
    #page_line .line_account ul li dl dd .outer p {
        text-align: left;
    }
}

#page_line .line_account ul li dl dd .arrow {
    width: 100%;
}

#page_line section.line_add h3 {
    background: #2cbf13;
    text-align: center;
    color: #fff;
    padding: 7px 0 4px;
    @include size(18, 24);
    font-weight: bold;
}

#page_line section.line_add ul {
    padding: 20px;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;

    @include sp_only {
        padding: 4%;
    }
}

#page_line section.line_add ul li {
    border-right: solid $keycolor4 1px;
    float: left;
    line-height: 1.6;
    width: 33.333%;
    text-align: center;

    @include tab_only {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid $keycolor4;
        padding-bottom: 4%;
    }

    @include sp_only {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid $keycolor4;
        padding-bottom: 4%;
    }
}

#page_line section.line_add ul li:last-of-type {
    border-right: none;

    @include tab_only {
        border-bottom: none;
        padding-bottom: 0%;
    }

    @include sp_only {
        border-bottom: none;
        padding-bottom: 0%;
    }
}

#page_line section.line_add ul {
    border: 5px solid #2cbf13;
    margin-bottom: 30px;
}

#page_line section.line_add ul li dl dd.account {
    background: #ccc;
    text-align: center;
    @include size(16, 20);
    margin: 10px 40px 0;
    padding: 10px 0;
}

#page_line section.line_add ul li dl dt {
    position: relative;
    line-height: 1.4;
    margin-bottom: 5px;
    display: inline-block;
    text-align: left;

    @include tab_only {
        padding-top: 4%;
    }
}

#page_line section.talk .sp {

    @include sp_only {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

}

#page_line section.talk .pc {

    @include pc_only {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

}

#page_line section.line_add ul li dl.no1 dt:before {
    content: '1';
}

#page_line section.line_add ul li dl.no2 dt:before {
    content: '2';
}

#page_line section.line_add ul li dl.no3 dt:before {
    content: '3';
}

#page_line section.line_add ul li dl.no1 dt:before,
#page_line section.line_add ul li dl.no2 dt:before,
#page_line section.line_add ul li dl.no3 dt:before {
    background: #ff5b57;
    color: #fff;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: block;
    position: relative;
    line-height: 38px;
    margin-top: 8px;
    text-align: center;
    font-size: 20px;
    position: relative;
    left: -45px;
    bottom: -42px;
    margin-top: -31px;

    @include tab_only {
        line-height: 26px;
        font-size: 16px;
        width: 28px;
        height: 28px;
        left: -36px;
        bottom: -36px;
        margin-top: -31px;
    }

    @include sp_only {
        line-height: 26px;
        font-size: 16px;
        width: 28px;
        height: 28px;
        left: -36px;
        bottom: -36px;
        margin-top: -31px;
    }
}

#page_line section.line_add ul li dl.no1 dt {
    margin-bottom: 22px;

    @include tab_only {
        margin-bottom: 0;
    }

    @include sp_only {
        margin-bottom: 0;
    }
}

#page_line section.line_add ul li dl.no2 dt {
    margin-bottom: 22px;

    @include sp_only {
        margin-bottom: 0px;
        padding-top: 4%;
    }
}

#page_line section.line_add ul li dl.no3 dt {
    margin-bottom: 12px;

    @include tab_only {
        margin-bottom: 0px;
        padding-top: 4%;
    }

    @include sp_only {
        margin-bottom: 0px;
        padding-top: 4%;
    }
}



#page_guide section.guide .wrapper {
    @include padding(0 4%, 0 4%, 0 65px);
}

#page_guide section.guide dl {
    border-radius: 13px;
    margin-bottom: 40px;
    background: #fff;
}

#page_guide section.guide dl dt {
    color: #fff;
    text-align: left;
    @include size(16, 22);
    letter-spacing: 1px;
    padding: 4px 0 4px 100px;
    position: relative;

    @include sp_only {
        padding: 4px 0 4px 60px;
    }
}

#page_guide section.guide dl.red dt:before {
    position: absolute;
    content: '';
    display: inline-block;
    left: 19px;
    top: -12px;
    width: 70px;
    height: 70px;
    background-image: url(../images/rentacar_red_icon.svg);
    background-size: contain;
    vertical-align: middle;

    @include sp_only {
        width: 51px;
        height: 51px;
        top: -8px;
        left: 0;
    }
}

#page_guide section.guide dl.green dt:before {
    position: absolute;
    content: '';
    display: inline-block;
    left: 19px;
    top: -12px;
    width: 70px;
    height: 70px;
    background-image: url(../images/rentacar_green_icon.svg);
    background-size: contain;
    vertical-align: middle;

    @include sp_only {
        width: 51px;
        height: 51px;
        top: -8px;
        left: 0;
    }
}

#page_guide section.guide span.red {
    color: #ed1c24;
}

#page_guide section.guide dl.red {
    border: 2px solid #e87d72;
}

#page_guide section.guide dl.red dt {
    background: #e87d72;
    border-radius: 10px 10px 0 0 / 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
}

#page_guide section.guide dl.green {
    border: 2px solid #99aa59;
}

#page_guide section.guide dl.green dt {
    background: #99aa59;
    border-radius: 10px 10px 0 0 / 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
}

#page_guide section.guide span.red {
    color: #ed1c24;
}

#page_guide section.guide span.underline {
    background: linear-gradient(transparent 70%, #fcee21 70%);
}

#page_guide section.guide span.bold {
    font-weight: bold;
}

#page_guide section.guide dl dd {
    padding: 30px 40px;

    @include sp_only {
        padding: 6% 4% 4%;
    }

    @include tab_only {
        padding: 4%;
    }
}


/*　step1 ****************************************/
#page_guide section.guide dl.step1 dd .outer {
    width: 100%;
}

#page_guide section.guide dl.step1 dd .outer .left {
    width: 65%;
    float: left;
    position: relative;

    @include sp_only {
        width: 100%;
    }

    @include tab_only {
        width: 100%;
    }
}

#page_guide section.guide dl.step1 dd .outer .left .baloon1 {
    position: absolute;
    right: 10px;
    top: 0px;

    @include sp_only {
        position: relative;
        right: 0;
        width: 150px;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
}


#page_guide section.guide dl.step1 dd .outer .left .card {
    padding-top: 5px;
    padding-left: 15px;

    @include sp_only {
        text-align: center;
        padding: 0;
        display: block;
        margin: 0 auto;
    }
}

#page_guide section.guide dl.step1 dd .outer .right {
    width: 35%;
    float: left;
    background: #f2f2f2;
    text-align: center;
    padding: 22px 0;
    border-radius: 10px;

    @include sp_only {
        width: 100%;
    }

    @include tab_only {
        width: 100%;
    }
}

#page_guide section.guide dl.step1 dd .outer .right img {
    @include sp_only {
        width: 160px;
    }
}

#page_guide section.guide dl.step1 dd .outer .left ol {
    @include size(15, 17);
}

#page_guide section.guide dl.step1 dd .outer .left ol li {
    line-height: 1.4;
    padding-bottom: 7px;
}

#page_guide section.guide dl.step1 dd .outer .left .small {
    @include size(13, 15);
}

/*　step3 ****************************************/
#page_guide section.guide dl.step3 dd .photo {
    width: 100%;
    background: #f2f2f2;
    position: relative;
    border-radius: 10px;
    padding: 5px;

    @include tab_only {
        margin-top: 70px;
    }

    @include sp_only {
        margin-top: 0px;
    }
}

#page_guide section.guide dl.step3 dd .photo .baloon2 {
    position: absolute;
    top: -60px;
    right: 0;

    @include tab_only {
        left: 40px;
    }

    @include sp_only {
        left: 0;
        width: 120px;
    }
}

#page_guide section.guide dl.step3 dd .photo .pc {
    @include sp_only {
        display: none !important;
    }

    @include tab {
        display: block !important;
    }
}

#page_guide section.guide dl.step3 dd .photo .sp {
    @include sp_only {
        display: block !important;
    }

    @include tab {
        display: none !important;
    }
}

/*　step4 ****************************************/
#page_guide section.guide dl.step4 dd {
    position: relative;
}

#page_guide section.guide dl.step4 dd .tree {
    position: absolute;
    right: 40px;
    top: 0;

    @include sp_only {
        position: relative;
        left: 0;
        text-align: center;
        margin: 0 auto;
        display: block;
        width: 180px;
    }
}

#page_guide section.guide dl.step4 dd h4 {
    @include size(14, 16);

    @include tab {
        padding-bottom: 20px;
    }
}

#page_guide section.guide dl.step4 dd .left {
    width: 56%;
    float: left;
    padding-top: 13px;
    padding-left: 25px;
    font-weight: normal;
    @include size(14, 16);

    @include sp_only {
        padding-top: 0;
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    @include tab_only {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
}

#page_guide section.guide dl.step4 dd .right {
    width: 40%;
    float: left;

    @include sp_only {
        width: 100%;
        text-align: center;
    }

    @include tab_only {
        width: 100%;
        text-align: center;
    }

}

#page_guide section.guide dl.step4 dd table {
    width: 100%;
}

#page_guide section.guide dl.step4 dd th .en {
    @include size(18, 28);
    font-family: 'arial';
    position: relative;
    top: 2px;

    @include sp_only {
        top: 1px;
    }
}

#page_guide section.guide dl.step4 dd td {
    @include tab_only {
        padding: 4%;
    }

    @include sp_only {
        padding: 4%;
    }
}

#page_guide section.guide dl.step4 dd .standard th {
    font-weight: bold;
    text-align: center;
    border-top: 2px solid #f39801;
    background: #f39801;
    color: #fff;
    @include size(15, 18);
    padding: 14px 20px;

    @include tab_only {
        width: 100%;
        display: block;
    }

    @include sp_only {
        width: 100%;
        display: block;
    }
}

#page_guide section.guide dl.step4 dd .standard td {
    font-weight: bold;
    border-right: 2px solid #f39801;
    border-top: 2px solid #f39801;

    @include tab_only {
        border-left: 2px solid #f39801;
        border-bottom: 2px solid #f39801;
        width: 100%;
        display: block;
        margin-bottom: 4%;
    }

    @include sp_only {
        border-left: 2px solid #f39801;
        border-bottom: 2px solid #f39801;

        width: 100%;
        display: block;
        margin-bottom: 4%;
    }

}

#page_guide section.guide dl.step4 dd .safe th {
    font-weight: bold;
    text-align: center;
    border-top: 2px solid #89a027;
    border-bottom: 2px solid #89a027;
    background: #89a027;
    color: #fff;
    @include size(15, 18);
    padding: 14px 20px;

    @include tab_only {
        width: 100%;
        display: block;
    }

    @include sp_only {
        padding: 2% 4%;
        width: 100%;
        display: block;
    }

}

#page_guide section.guide dl.step4 dd .safe td {
    border-right: 2px solid #89a027;
    border-top: 2px solid #89a027;
    border-bottom: 2px solid #89a027;

    @include tab_only {
        border-left: 2px solid #89a027;
        width: 100%;
        display: block;
    }

    @include sp_only {
        border-left: 2px solid #89a027;
        width: 100%;
        display: block;
    }

}

#page_guide section.guide dl.step4 dd .safe td p {
    @include size(14, 16);
    padding-left: 25px;
    padding-top: 17px;

    @include sp_only {
        padding-left: 0;
        padding-top: 2%;
        text-align: center;

    }

    @include tab_only {
        text-align: center;
        padding-left: 0;
        padding-top: 2%;

    }
}

@media screen and (max-width:500px) {
    #page_guide section.guide dl.step4 dd .safe td p {
        text-align: left;
    }
}

/*　step5 ****************************************/
#page_guide section.guide dl.step5 dd .outer {
    width: 100%;
}

#page_guide section.guide dl.step5 dd .text {
    width: 62%;
    float: right;
    text-indent: -1em;
    padding-left: 1em;

    @include sp_only {
        width: 100%;
        padding-top: 4%;
    }

}

#page_guide section.guide dl.step5 dd .photo {
    width: 36%;
    float: right;
    padding-left: 2%;

    @include sp_only {
        width: 100%;
    }
}

/*　step6 ****************************************/
#page_guide section.guide dl.step6 dd .outer {
    width: 100%;
}

#page_guide section.guide dl.step6 dd .left {
    @include width(100%, 100%, 49%);
    float: left;
    margin-right: 2%;
    background: #f2f2f2;

    @include tab_only {
        margin-right: 0%;
        margin-bottom: 4%;
    }

    @include sp_only {
        margin-right: 0%;
        margin-bottom: 4%;
    }
}

#page_guide section.guide dl.step6 dd .right {
    @include width(100%, 100%, 49%);
    float: left;
    background: #f2f2f2;
}

#page_guide section.guide dl.step6 dd .text-center {
    text-align: center;
    line-height: 1;
}

#page_guide section.guide dl.step6 dd h4 {
    text-align: center;
    @include size(14, 17);
}

#page_guide section.guide dl.step6 dd .en {
    text-align: center;
    @include size(18, 24);
    color: #4d4d4d;
    font-weight: bold;
    line-height: 1;
}

#page_guide section.guide dl.step6 dd span.kome1 {
    @include size(12, 14);
    display: block;
    font-weight: normal;
    padding-bottom: 4px;
}

#page_guide section.guide dl.step6 dd .kome2 {
    @include size(12, 14);
    padding-top: 10px;
    line-height: 1.4;
}

#page_lineup section.lineup .title {
    background: url(../images/rental_title_bg.jpg) no-repeat center center !important;
    background-size: cover !important;
}

#page_lineup section.lineup .title-text {
    padding: 0 100px;

    @include sp_only {
        padding: 0 0%;
    }
}

#page_lineup .grid_ptn1.type1 .photo {
    background: url(../images/rental_kogata_photo.jpg) no-repeat center center !important;
    background-size: cover !important;

    @include sp_only {
        min-height: 200px;
    }
}

@media screen and (max-width:480px) {
    #page_lineup .grid_ptn1.type1 .photo {
        height: 200px;
    }
}

#page_lineup .grid_ptn1.type2 .photo {
    background: url(../images/rental_chugata_photo.jpg) no-repeat center center !important;
    background-size: cover !important;

    @include sp_only {
        min-height: 200px;
    }

}

@media screen and (max-width:480px) {
    #page_lineup .grid_ptn1.type2 .photo {
        height: 200px;
    }
}

#page_lineup .grid_ptn1.type1 .text {
    padding-top: 70px;
    padding-bottom: 80px;
    padding-left: 70px;

    @include tab_only {
        padding-top: 4%;
        padding-bottom: 4%;
        padding-left: 4%;
        padding-right: 4%;

    }

    @include sp_only {
        padding-top: 4%;
        padding-bottom: 4%;
        padding-left: 4%;
        padding-right: 4%;
    }
}

#page_lineup .grid_ptn1.type2 .text {
    padding-top: 110px;
    padding-bottom: 120px;
    padding-right: 70px;
    text-align: left;

    @include tab_only {
        padding-top: 4%;
        padding-bottom: 4%;
        padding-left: 4%;
        padding-right: 4%;

    }

    @include sp_only {
        padding-top: 4%;
        padding-bottom: 4%;
        padding-left: 4%;
        padding-right: 4%;
    }

}

#page_lineup .grid_ptn1.type2 .text .outer {
    @include width(100%, 300px);
    margin-left: auto;

    @include sp_only {
        margin: 0 auto;
    }
}

#page_lineup .grid_ptn1.type1 .text h3 {
    color: #fff;
    @include size(15, 18);
    padding-bottom: 10px;
    text-align: left;

    @include sp_only {
        text-align: center;
    }

}

#page_lineup .grid_ptn1.type2 .text h3 {
    color: #fff;
    text-align: left;
    @include size(15, 18);
    padding-bottom: 10px;

    @include sp_only {
        text-align: center;
    }

}

#page_lineup .grid_ptn1 .text p {
    color: #fff;
    @include size(13, 16);
    text-align: left;

    @include sp_only {
        text-align: center;
    }
}

#page_lineup .grid_ptn1 .text .price {
    color: #fff;
    @include size(13, 16);
    text-align: left;
    @include padding-left(8%, 80px);

    @include sp_only {
        text-align: center;
    }

}

#page_lineup .grid_ptn1 .text .en {
    color: #fff;
    @include size(15, 20);
}

#page_lineup section.lineup section.bottom {
    background: url(../images/rental_bottom_bg.jpg) no-repeat center center !important;
    background-size: cover !important;
}

#page_lineup section.lineup section.bottom .outer {
    width: 100%;

}

#page_lineup section.lineup section.bottom .outer .left {
    width: 50%;
    float: left;
}

@media screen and (max-width:480px) {
    #page_lineup section.lineup section.bottom .outer .left {
        width: 100%;
    }
}

#page_lineup section.lineup section.bottom .outer .right {

    width: 50%;
    float: left;
    padding-top: 85px;
    padding-left: 40px;

    @include tab_only {
        padding-top: 50px;
    }

    @include sp_only {
        padding-top: 20px;
        padding-left: 4%;
    }
}

@media screen and (max-width:480px) {
    #page_lineup section.lineup section.bottom .outer .right {
        width: 100%;
        padding-top: 0px;
        padding-left: 0px;
        padding-top: 4%;
    }
}

#page_lineup section.lineup section.bottom .outer .right h3 {
    @include size(18, 24);
    border-bottom: 1px solid #000;
    width: 300px;
    padding-bottom: 5px;

    @include tab_only {
        width: 100%;
    }

    @include sp_only {
        width: 100%;
    }
}

#page_lineup section.lineup section.bottom .outer .right .price {
    @include size(14, 16);
    padding-top: 10px;
    text-align: left;
}

#page_lineup section.lineup section.bottom .outer .right .en {
    @include size(16, 20);
}



#page_rental section.rental section.top_bnr .outer {
    width: 100%;
}

#page_rental section.rental section.top_bnr .outer .left {
    width: 49%;
    float: left;
    margin-right: 2%;

    @include sp_only {
        width: 49%;
        margin-right: 2%;
    }
}

#page_rental section.rental section.top_bnr .outer .right {
    width: 49%;
    float: left;

    @include sp_only {
        width: 49%;
    }
}

@media screen and (max-width:500px) {
    #page_rental section.rental section.top_bnr .outer .left {
        width: 100%;
        margin-right: 0%;
        margin-bottom: 6%;

    }

    #page_rental section.rental section.top_bnr .outer .right {
        width: 100%;
    }
}


#page_rental section.rental section.top_bnr .outer .right img {
    text-align: right;
    margin-left: auto;
    display: block;
}

#page_rental section.rental section.top_bnr .bnr3 img {
    margin-top: 2%;
}


#page_rental section.rental .cartype {
    background: url(../images/rental_bottom_bg.jpg) no-repeat center center !important;
    background-size: cover !important;

}

#page_rental section.rental section.cartype .wrapper {
    padding: 0 4%;
}

#page_rental section.rental section.cartype .car-photo {
    width: 100%;
    background: #fff;
}

#page_rental section.rental section.cartype .car-photo img {
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 160px;
    padding: 4% 0;
}


#page_rental section.rental section.cartype table {
    width: 100%;
}

#page_rental section.rental section.cartype table .h24 {
    width: 20%;
    color: #fff;
}

#page_rental section.rental section.cartype table th.h24 {
    border-bottom: 2px solid #fff;
}

#page_rental section.rental section.cartype table td.h24 {
    color: #ff0000;
    /* 文字の色 */
    text-shadow:
        2px 2px 1px #ffffff,
        -2px 2px 1px #ffffff,
        2px -2px 1px #ffffff,
        -2px -2px 1px #ffffff,
        2px 0px 1px #ffffff,
        0px 2px 1px #ffffff,
        -2px 0px 1px #ffffff,
        0px -2px 1px #ffffff;
    /* 文字の影 */
}

#page_rental section.rental section.cartype table .day {
    width: 20%;
}

#page_rental section.rental section.cartype table th.day {
    border-bottom: 2px solid #b3b3b3;
    border-right: 2px solid #b3b3b3;
    background: #fff;
}

#page_rental section.rental section.cartype table td.day {
    border-right: 2px solid #b3b3b3;
    color: #4d4d4d;
}


#page_rental section.rental section.cartype table .add {
    width: 20%;
    background: #f2f1f0;
}

#page_rental section.rental section.cartype table th.add {
    border-bottom: 2px solid #b3b3b3;
}

#page_rental section.rental section.cartype table td.add {
    color: #4d4d4d;
}

#page_rental section.rental section.cartype table td {
    text-align: center;
    @include size(18, 26);
    font-weight: bold;
    background: #fff;
}

#page_rental section.rental section.cartype table th {
    text-align: center;
    @include size(15, 18);
    font-weight: bold;
    letter-spacing: 1px;
}


#page_rental section.rental section.cartype table th.h24 {
    position: relative;
}

#page_rental section.rental section.cartype table th.h24:before {
    content: '';
    display: inline-block;
    width: 122px;
    height: 31px;
    position: absolute;
    top: -33px;
    left: 30px;
    background-image: url(../images/osusume.svg);
    background-size: contain;
    vertical-align: middle;

    @include sp_only {
        width: 62px;
        height: 16px;
        top: -19px;
        left: 26%;
    }
}

#page_rental section.rental section.cartype .col1 table {
    border: 3px solid #3bbfed;
}

#page_rental section.rental section.cartype .col1 table .h24 {
    background: #3bbfed;
}

#page_rental section.rental section.cartype .col1 h4 {
    color: #3bbfed;
}

#page_rental section.rental section.cartype .col1 .car-photo {
    border-left: 3px solid #3bbfed;
    border-top: 3px solid #3bbfed;
    border-right: 3px solid #3bbfed;
}


#page_rental section.rental section.cartype .col2 table {
    border: 3px solid #ff8e6b;
}

#page_rental section.rental section.cartype .col2 table .h24 {
    background: #ff8e6b;
}

#page_rental section.rental section.cartype .col2 h4 {
    color: #ff8e6b;
}

#page_rental section.rental section.cartype .col2 .car-photo {
    border-left: 3px solid #ff8e6b;
    border-top: 3px solid #ff8e6b;
    border-right: 3px solid #ff8e6b;
}

#page_rental section.rental section.cartype .col3 table {
    border: 3px solid #97bc50;
}

#page_rental section.rental section.cartype .col3 table .h24 {
    background: #97bc50;
}

#page_rental section.rental section.cartype .col3 h4 {
    color: #97bc50;
}

#page_rental section.rental section.cartype .col3 .car-photo {
    border-left: 3px solid #97bc50;
    border-top: 3px solid #97bc50;
    border-right: 3px solid #97bc50;
}

#page_rental section.rental section.cartype .col4 table {
    border: 3px solid #ffab57;
}

#page_rental section.rental section.cartype .col4 table .h24 {
    background: #ffab57;
}

#page_rental section.rental section.cartype .col4 h4 {
    color: #ffab57;
}

#page_rental section.rental section.cartype .col4 .car-photo {
    border-left: 3px solid #ffab57;
    border-top: 3px solid #ffab57;
    border-right: 3px solid #ffab57;
}

#page_rental section.rental section.cartype .col5 table {
    border: 3px solid #fcacc7;
}

#page_rental section.rental section.cartype .col5 table .h24 {
    background: #fcacc7;
}

#page_rental section.rental section.cartype .col5 h4 {
    color: #fcacc7;
}

#page_rental section.rental section.cartype .col5 .car-photo {
    border-left: 3px solid #fcacc7;
    border-top: 3px solid #fcacc7;
    border-right: 3px solid #fcacc7;
}


#page_rental section.rental section.cartype h4 {
    @include size(18, 22);
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow:
        2px 2px 1px #ffffff,
        -2px 2px 1px #ffffff,
        2px -2px 1px #ffffff,
        -2px -2px 1px #ffffff,
        2px 0px 1px #ffffff,
        0px 2px 1px #ffffff,
        -2px 0px 1px #ffffff,
        0px -2px 1px #ffffff;
    /* 文字の影 */
}

#page_rental section.rental section.cartype h4 .cc {
    @include size(13, 15);
}

#page_rental section.rental .menseki {
    border: 3px solid #cccccc;
    background: #fff;
    padding: 20px 60px;

    @include sp_only {
        padding: 2% 4%;
    }
}

#page_rental section.rental .menseki h5 {
    background: #808080;
    text-align: center;
    padding: 3px 20px;
    color: #fff;
    font-weight: bold;
    @include size(15, 18);
}

#page_rental section.rental .menseki .about {
    color: #ed1c24;
    @include size(14, 16);
    font-weight: bold;
    padding-right: 10px;
}

#page_rental section.rental .menseki .kome {
    @include size(11, 13);
    padding-top: 15px;
}

#page_rental section.rental .calendar li .outer-frame {
    position: relative;
    width: 100%;
    height: 400px;
}

#page_rental section.rental .calendar li iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#page_rental section.rental .calendar li #calendarTitle {
    display: none !important;
}

/********************************************************************************
　--bottom_contact
*********************************************************************************/
#bottom_contact {
    @include sp_only {
        display: none;
    }
}

#bottom_contact .outer {
    width: 92%;
    background: #8baa07;
    color: #fff;
    margin: 0 auto;

    @include sp_only {
        width: 100%;
    }

}

#bottom_contact .outer .left {
    width: 55%;
    float: left;
    border-right: 1px solid #fff;
    line-height: 1.4;

    @include sp_only {
        width: 100%;
    }

}

#bottom_contact .outer .left p {
    text-align: center;
    @include size(15, 16, 18);
}

#bottom_contact .outer .right {
    width: 45%;
    float: left;
    text-align: right;
    padding-right: 116px;
    line-height: 1.4;

    @include tab_only {
        padding-right: 0;
    }

    @include sp_only {
        width: 100%;
    }

}

#bottom_contact .outer .right .time {
    font-size: 12px;
    padding-top: 3px;

    @include tab_only {
        padding-left: 60px;
        text-align: left;
    }
}

#bottom_contact .outer .right .outer {
    width: 100%;
    padding-left: 80px;

    @include tab_only {
        padding-left: 60px;
    }
}

#bottom_contact .outer .right .outer img {
    float: left;
    width: 30px;
    padding-right: 5px;

    @include tab_only {
        width: 25px;
    }
}

#bottom_contact .outer .right .outer .num {
    float: left;
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    font-family: 'arial';
    position: relative;
    top: 2px;

    @include tab_only {
        font-size: 25px;
    }
}


/********************************************************************************
　--top-title
*********************************************************************************/
#top-title p br {
    @include tab_only {
        display: none;
    }
}

#top-title .obi {
    background: url(../images/top_title_obi.jpg) repeat;
    background-size: contain;
    height: 5px;

}

#top-title .headline {
    @include size(18, 26);
    text-align: center;
    line-height: 1.2;
    letter-spacing: 3px;
    color: #333333;
    display: inline;
    position: relative;
}

#top-title .headline:before {
    content: '';
    position: absolute;
    @include left(-30px, -45px);
    top: 1px;
    display: inline-block;
    @include width(40px, 57px);
    @include height(29px, 41px);
    background-image: url(../images/headline_img1.svg);
    background-size: contain;
    vertical-align: middle;
}

#top-title p {
    @include sp_only {
        text-align: left;
    }

    @include tab_only {
        padding-right: 4%;
        padding-left: 4%;
    }

    @include sp_only {
        padding-right: 4%;
        padding-left: 4%;
    }

}

#top-title h4 {
    background: #ffa243;
    color: #fff;
    @include size(15, 18);
    display: inline;
    @include padding(5px 4%, 5px 120px);

    @include sp_only {
        width: 100%;
        display: block;
    }


    @include tab_only {
        width: 92%;
        margin: 0 auto;
    }

    @include sp_only {
        width: 92%;
        margin: 0 auto;
    }

}

/********************************************************************************
　--top-title
*********************************************************************************/
#linkbtn-col2 {
    width: 92%;
    margin: 0 auto;

    @include sp_only {
        width: 100%;
    }
}

#linkbtn-col2 .linkbtn a {
    display: inline-block;
    color: #fff !important;
    @include padding(3px 4%, 6px 48px 6px 40px);
    @extend .fsize_s;
    @include vender(transition, all 0.3s ease);
    position: relative;

    @include sp_only {
        padding: 10px 4%;
        width: 70%;
    }
}

#linkbtn-col2 li {
    width: 48%;
    float: left;

    @include sp_only {
        width: 100%;
    }
}

#linkbtn-col2 li:first-of-type {
    margin-right: 4%;

    @include sp_only {
        margin-right: 0;
        margin-bottom: 4%;
    }
}

#linkbtn-col2 .linkbtn a {
    text-align: center;
    border-radius: 7px;
    padding: 8px 0;
    @includ size(13, 16);
    position: relative;
}

#linkbtn-col2 .linkbtn.col1 a {
    border: 1px solid #ff9331;
    background: #ff9331;
    width: 100%;

    &:hover {
        background: #fff;
        color: #ff9331 !important;
        @include vender(transition, all 0.3s ease);
    }
}

#linkbtn-col2 .linkbtn.col2 a {
    border: 1px solid #af8a3b;
    background: #af8a3b;
    width: 100%;

    &:hover {
        background: #fff;
        color: #af8a3b !important;
        @include vender(transition, all 0.3s ease);
    }
}

#linkbtn-col2 .linkbtn a:after {
    position: absolute;
    top: 53%;
    right: 12px;
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    margin-top: -3px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#page_single .bg_img1 {
    padding: 40px 0;
}

#page_single .news_entry {
    border: 2px solid #e87d72;
    border-radius: 13px;
    background: #fff;
}

#page_single .entry-content {
    padding: 20px;
}

#page_single .news_entry .entry-header {
    background: #e87d72;
    color: #fff;
    text-align: left;
    @include size(15, 18);
    letter-spacing: 1px;
    padding: 4px 20px;
    border-radius: 10px 10px 0 0 / 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
}

#page_single .news_entry .entry-header .entry-date {
    color: #fff;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #fff;
    @include size(13, 15);

    @include sp_only {
        display: block;
        border-right: none;
    }
}

#page_single .entry-content h3 {
    border-left: 3px solid #5c8406;
    font-weight: bold;
    @include size(15, 18);
    padding-left: 10px;
    line-height: 1;
    @include margin-bottom(2%, 15px);
}

#page_single .entry-content h4 {
    @include size(15, 18);
    font-weight: bold;
    @include margin-bottom(2%, 15px);
    line-height: 1;
}

#page_single .entry-content p {
    @include padding-bottom(2%, 15px);
}

#page_single .entry-content a {
    color: #e87d72;
    text-decoration: underline;

}

#page_single .entry-content .bold {
    font-weight: bold;
}

ul.page_link {
    padding: 0 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}

ul.page_link li a {
    font-size: 13px;
    display: inline-block;
    padding: 6px 15px 3px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #fefefe;
    text-decoration: none;
    color: #717171;
}

ul.page_link li.next {
    float: right;
}

ul.page_link li.prev {
    float: left;
}


#page_404 .tac {
    position: relative;
    padding-top: 130px;

    @include tab_only {
        padding-top: 160px;

    }

    @include sp_only {
        padding-top: 170px;

    }
}

#page_404 #contents {
    background: url(../images/slider1.jpg) no-repeat center;
    background-size: cover;
    height: 420px;

    @include sp_only {
        height: 380px;
    }
}

#rental_404 #contents {
    background: url(../images/slider2.jpg) no-repeat center;
    background-size: cover;
    height: 420px;

    @include sp_only {
        height: 380px;
    }
}

#page_404 #contents .text-outer {

    width: 480px;
    background: rgba(152, 203, 0, 0.7);
    z-index: 99;
    margin: 0 auto;
    color: #fff;
    padding: 4%;
    @include size(13, 16, 18);

    @include sp_only {
        width: 92%;
    }
}

#page_404 #contents .text-outer a {
    color: #fff;
    text-decoration: underline;
}
