@charset "utf-8";
@import "./config";

//************************************
// media query  使い方　@include tab {*****}
//************************************


@mixin sp {
  @media screen and (min-width:$width_sp+px) {
    @content;
  }
}
@mixin tab {
  @media print,screen and (min-width:$width_tab+px) {
    @content;
  }
}
@mixin pc {
  @media print,screen and (min-width:$width_pc+px) {
    @content;
  }
}
@mixin pc_only {
  @media (min-width: ($width_tab+px)) {
    @content;
  }
}
@mixin sp_only {
  @media (max-width: (($width_tab - 1)+px)) {
    @content;
  }
}
@mixin tab_only {
  @media (min-width: $width_tab+px) and (max-width: ($width_pc+px)) {
    @content;
  }
}
@mixin mq($size) {
  @media screen and (min-width:$size+px) {
    @content;
  }
}

//************************************
// width
//************************************
@mixin width($sp: false,$tab: false,$pc: false) {
    @if($sp){
      width: $sp;
    }
    @if($tab){
      @media screen and (min-width:$width_tab+px) {
        width: $tab;
      }
    }
    @if($pc){
      @media screen and (min-width:$width_pc+px) {
        width: $pc;
      }
    }
}

//************************************
// max-width
//************************************
@mixin max-width($sp: false,$tab: false,$pc: false) {
    @if($sp){
      max-width: $sp;
    }
    @if($tab){
      @media screen and (min-width:$width_tab+px) {
        max-width: $tab;
      }
    }
    @if($pc){
      @media screen and (min-width:$width_pc+px) {
        max-width: $pc;
      }
    }
}

//************************************
// min-width
//************************************
@mixin min-width($sp: false,$tab: false,$pc: false) {
    @if($sp){
      min-width: $sp;
    }
    @if($tab){
      @media screen and (min-width:$width_tab+px) {
        min-width: $tab;
      }
    }
    @if($pc){
      @media screen and (min-width:$width_pc+px) {
        min-width: $pc;
      }
    }
}

//************************************
// height
//************************************
@mixin height($sp: false,$tab: false,$pc: false) {
    @if($sp){
      height: $sp;
    }
    @if($tab){
      @media screen and (min-width:$width_tab+px) {
        height: $tab;
      }
    }
    @if($pc){
      @media screen and (min-width:$width_pc+px) {
        height: $pc;
      }
    }
}

//************************************
// font
//************************************
@mixin size($sp: false,$tab: false,$pc: false) {
    @if($sp){
      font-size: $sp + px;
      font-size: ($sp / 10)  + rem;
    }
    @if($tab){
      @media screen and (min-width:$width_tab+px) {
        font-size: $tab + px;
        font-size: ($tab / 10)  + rem;
      }
    }
    @if($pc){
      @media screen and (min-width:$width_pc+px) {
        font-size: $pc + px;
        font-size: ($pc / 10)  + rem;
      }
    }
}

//************************************
// margin
//************************************
@mixin margin($sp: false,$tab: false,$pc: false){
  @if($sp){
    margin:$sp;
  }
  @if($tab){
   @media screen and (min-width:$width_tab+px) {
     margin:$tab;
   }
  }
  @if($pc){
    @media screen and (min-width:$width_pc+px) {
     margin:$pc;
     }
   }
}
@mixin margin-top($sp: false,$tab: false,$pc: false){
  @if($sp){
    margin-top:$sp;
  }
  @if($tab){
   @media screen and (min-width:$width_tab+px) {
     margin-top:$tab;
   }
  }
  @if($pc){
    @media screen and (min-width:$width_pc+px) {
     margin-top:$pc;
     }
   }
}
@mixin margin-bottom($sp: false,$tab: false,$pc: false){
  @if($sp){
    margin-bottom:$sp;
  }
  @if($tab){
   @media screen and (min-width:$width_tab+px) {
     margin-bottom:$tab;
   }
  }
  @if($pc){
    @media screen and (min-width:$width_pc+px) {
     margin-bottom:$pc;
     }
   }
}
@mixin margin-left($sp: false,$tab: false,$pc: false){
  @if($sp){
    margin-left:$sp;
  }
  @if($tab){
   @media screen and (min-width:$width_tab+px) {
     margin-left:$tab;
   }
  }
  @if($pc){
    @media screen and (min-width:$width_pc+px) {
     margin-left:$pc;
     }
   }
}
@mixin margin-right($sp: false,$tab: false,$pc: false){
  @if($sp){
    margin-right:$sp;
  }
  @if($tab){
   @media screen and (min-width:$width_tab+px) {
     margin-right:$tab;
   }
  }
  @if($pc){
    @media screen and (min-width:$width_pc+px) {
     margin-right:$pc;
     }
   }
}


//************************************
// padding
//************************************
@mixin padding($sp: false,$tab: false,$pc: false){
  @if($sp){
    padding:$sp;
  }
  @if($tab){
   @media screen and (min-width:$width_tab+px) {
     padding:$tab;
   }
  }
  @if($pc){
    @media screen and (min-width:$width_pc+px) {
     padding:$pc;
     }
   }
}
@mixin padding-top($sp: false,$tab: false,$pc: false){
  @if($sp){
    padding-top:$sp;
  }
  @if($tab){
   @media screen and (min-width:$width_tab+px) {
     padding-top:$tab;
   }
  }
  @if($pc){
    @media screen and (min-width:$width_pc+px+px) {
     padding-top:$pc;
     }
   }
}
@mixin padding-bottom($sp: false,$tab: false,$pc: false){
  @if($sp){
    padding-bottom:$sp;
  }
  @if($tab){
   @media screen and (min-width:$width_tab+px) {
     padding-bottom:$tab;
   }
  }
  @if($pc){
    @media screen and (min-width:$width_pc+px) {
     padding-bottom:$pc;
     }
   }
}
@mixin padding-left($sp: false,$tab: false,$pc: false){
  @if($sp){
    padding-left:$sp;
  }
  @if($tab){
   @media screen and (min-width:$width_tab+px) {
     padding-left:$tab;
   }
  }
  @if($pc){
    @media screen and (min-width:$width_pc+px) {
     padding-left:$pc;
     }
   }
}
@mixin padding-right($sp: false,$tab: false,$pc: false){
  @if($sp){
    padding-right:$sp;
  }
  @if($tab){
   @media screen and (min-width:$width_tab+px) {
     padding-right:$tab;
   }
  }
  @if($pc){
    @media screen and (min-width:$width_pc+px) {
     padding-right:$pc;
     }
   }
}

//************************************
// top
//************************************
@mixin top($sp: false,$tab: false,$pc: false){
  @if($sp){
    top:$sp;
  }
  @if($tab){
   @media screen and (min-width:$width_tab+px) {
     top:$tab;
   }
  }
  @if($pc){
    @media screen and (min-width:$width_pc+px) {
     top:$pc;
     }
   }
}
//************************************
// bottom
//************************************
@mixin bottom($sp: false,$tab: false,$pc: false){
  @if($sp){
    bottom:$sp;
  }
  @if($tab){
   @media screen and (min-width:$width_tab+px) {
     bottom:$tab;
   }
  }
  @if($pc){
    @media screen and (min-width:$width_pc+px) {
     bottom:$pc;
     }
   }
}
//************************************
// left
//************************************
@mixin left($sp: false,$tab: false,$pc: false){
  @if($sp){
    left:$sp;
  }
  @if($tab){
   @media screen and (min-width:$width_tab+px) {
     left:$tab;
   }
  }
  @if($pc){
    @media screen and (min-width:$width_pc+px) {
     left:$pc;
     }
   }
}
//************************************
// right
//************************************
@mixin right($sp: false,$tab: false,$pc: false){
  @if($sp){
    right:$sp;
  }
  @if($tab){
   @media screen and (min-width:$width_tab+px) {
     right:$tab;
   }
  }
  @if($pc){
    @media screen and (min-width:$width_pc+px) {
     right:$pc;
     }
   }
}
//************************************
// vender
//************************************
@mixin vender($property, $value) {
     @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
          #{$prefix}#{$property}: $value;
     }
}

//************************************
// alpha
//************************************
@mixin alpha($num: 100) {
    filter:alpha(opacity= + $num);
    -moz-opacity: $num / 100;
    opacity: $num / 100;
}


//************************************
// flex
//************************************
@mixin flex_box {
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:-moz-flex;
    display:flex;
 }

@mixin flex_col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@mixin flex_col_reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

@mixin flex_row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

@mixin flex_row_reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

@mixin flex_nowrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

@mixin flex_wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@mixin flex_wrap_reverse {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

//************************************
// display
//************************************
@mixin display($sp: false,$tab: false,$pc: false){
  @if($sp){
    display:$sp;
  }
  @if($tab){
   @media screen and (min-width:$width_tab+px) {
     display:$tab;
   }
  }
  @if($pc){
    @media screen and (min-width:$width_pc+px) {
     display:$pc;
     }
   }
}

//************************************
// text-align
//************************************
@mixin text-align($sp: false,$tab: false,$pc: false){
  @if($sp){
    text-align:$sp;
  }
  @if($tab){
   @media screen and (min-width:$width_tab+px) {
     text-align:$tab;
   }
  }
  @if($pc){
    @media screen and (min-width:$width_pc+px) {
     text-align:$pc;
     }
   }
}

//************************************
// position
//************************************
@mixin position($sp: false,$tab: false,$pc: false){
  @if($sp){
    position:$sp;
  }
  @if($tab){
   @media screen and (min-width:$width_tab+px) {
     position:$tab;
   }
  }
  @if($pc){
    @media screen and (min-width:$width_pc+px) {
     position:$pc;
     }
   }
}
//************************************
// transition
// $duration : transition-duration
// $timing : transition-timing-function
//************************************
@mixin transition($duration,$timing){
    -webkit-transition: all $duration $timing;
    -moz-transition: all $duration $timing;
    -o-transition: all $duration $timing;
    transition: all $duration $timing;
}

//************************************
// transition
//************************************
@mixin border-radius($size){
    border-radius: $size;
    -webkit-border-radius: $size;
    -moz-border-radius: $size;
}
